<div class="g-category-lists">
	<a href="/column/" class="g-category-lists__item g-category-link">
		<div class="g-category-link__title">カテゴリ項目名(10)</div>
	</a>
	<a href="/column/" class="g-category-lists__item g-category-link">
		<div class="g-category-link__title">カテゴリ項目名(12)</div>
	</a>
	<a href="/column/" class="g-category-lists__item g-category-link">
		<div class="g-category-link__title">カテゴリ項目名(34)</div>
	</a>
	<a href="/column/" class="g-category-lists__item g-category-link">
		<div class="g-category-link__title">カテゴリ項目名(4)</div>
	</a>
	<a href="/column/" class="g-category-lists__item g-category-link">
		<div class="g-category-link__title">カテゴリ項目名(9)</div>
	</a>
</div><!-- /g-category-lists -->
