// 色
$color-accent: #106275;
$color-main: #009F58;
$color-text: #333;

// レイアウト幅
$layout-width-canvas: 1440px;
$layout-width-inner: 1200px;
$layout-width-vw: 1200;
$layout-width-sp: 768px;
$layout-width-main: 840px;
$layout-width-side: $layout-width-inner - $layout-width-main - 38px; // 38pxは余白の幅

$header-height-pc: 60px;
$header-height-sp: 60px;
$footer-height: 60px;

$pd-sp: 16px;
$pd-tab: 24px;

$opacity: 0.7;

// ブレークポイント
$breakpoints: (
	"xs": "(max-width: 575px)",
  "sm": "(min-width: 576px)",
  "md": "(min-width: 768px)",
  "lg": "(min-width: 992px)",
  "xl": "(min-width: 1200px)",
	"xxl": "(min-width: 1400px)",
	"ie": "(-ms-high-contrast: active), screen and (-ms-high-contrast: none)"
);

// z-index の指定
$layer: (
	modal: 100,
	drawer: 40,
	floating: 30,
	header: 20,
	footer: 10,
	default: 1
);

// メディアクエリー
@mixin mq($breakpoint: xs) {

	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

// vw計算
@function vw($windows_width, $font_size) {

	@return $font_size / $windows_width * 100vw;
}
