.g-button-fav {
	display: inline-block;
	background: #fff;
	border: 1px solid #888;
	padding: 10px 8px 8px 28px;
	color: #888;
	font-size: 12px;
	font-weight: 700;
	position: relative;
	text-decoration: none;
	border-radius: 2px;
	line-height: 1;
	transition: all 0.3s ease 0s;

	&::before {
		content: "";
		position: absolute;
		left: 8px;
		top: 50%;
		transform: translateY(-50%);
		width: 15px;
		height: 15px;
		background: transparent url(../img/icon-fav-star@2x.png) no-repeat center center / contain;
	}

	&:hover {
		color: #888;
	}

	&.is-active {
		color: #fff;
		background: $color-accent;
		border-color: $color-accent;

		&::before {
			background-image: url(../img/icon-fav-star-active@2x.png);
		}
	}
}
