.g-button-fav-sp {
	display: inline-block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	position: relative;
	width: 56px;
	height: 56px;
	vertical-align: top;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 56px;
		height: 56px;
		background: transparent url(../img/button-fav-sp@2x.png) no-repeat center center / contain;
	}

	&.is-active {
		&::after {
			background-image: url(../img/button-fav-sp-active@2x.png);
		}
	}
}
