.g-button-save {
	display: inline-block;
	background: $color-accent;
	padding: 10px 8px 8px 28px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	position: relative;
	text-decoration: none;
	border-radius: 2px;
	line-height: 1;
	transition: all 0.3s ease 0s;

	&::before {
		content: "";
		position: absolute;
		left: 8px;
		top: 50%;
		transform: translateY(-50%);
		width: 14px;
		height: 14px;
		background: transparent url(../img/icon-save@2x.png) no-repeat center center / contain;
	}

	&:hover {
		background-color: #00485b;
		color: #fff;
	}
}
