.g-check {
	display: block;
	position: relative;
	cursor: pointer;

	span {
		display: flex;
		align-items: center;
		font-size: 12px;
		padding: 0 6px 0 38px;
		height: 32px;
		color: #aaa;
		border: 1px solid #aaa;
		border-radius: 4px;
		line-height: (14 / 12);

		@include mq('md') {
			border-radius: 0;
			border: none;
			color: $color-text;
			font-weight: 700;
			padding-right: 0;
			padding-left: 22px;
			height: auto;
		}
	}

	[type=checkbox] {
		width: 18px;
		height: 18px;
		border: none;
		background: #ddd;
		border-radius: 2px;
		appearance: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 10px;

		@include mq('md') {
			background: #fff;
			border: 1px solid #ddd;
			left: 0;
		}
	}

	[type=checkbox]:checked {
		background: #fff url(../img/icon-check@2x.png) no-repeat left 2px bottom 3px / 13px 13px;
	}

	[type=checkbox]:checked + span {
		background-color: $color-accent;
		border-color: $color-accent;
		color: #fff;

		@include mq('md') {
			background-color: transparent;
			border-color: transparent;
			color: $color-text;
		}
	}
}
