$drawer-bar-height: 2px;
$drawer-bar-space: 4px;

.g-drawer-button {
	width: 40px;
	height: 40px;
	box-shadow: none;
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
}

.g-drawer-button__bars {
	position: relative;
	width: 27px;
	height: 14px;
	display: inline-block;
}

.g-drawer-button__bar1,
.g-drawer-button__bar2,
.g-drawer-button__bar3 {
	position: absolute;
	right: 0;
	left: 0;
	display: block;
	background: $color-main;
	width: 100%;
	height: $drawer-bar-height;
	border-radius: 3px;
	transition: all 0.3s linear 0s;
}

.g-drawer-button__bar1 {
	top: 0;

	.is-active & {
		top: $drawer-bar-space + $drawer-bar-height;
		transform: rotate(-45deg);
	}
}

.g-drawer-button__bar2 {
	top: $drawer-bar-space + $drawer-bar-height;

	.is-active & {
		background: transparent;
	}
}

.g-drawer-button__bar3 {
	top: ($drawer-bar-space + $drawer-bar-height) * 2;

	.is-active & {
		top: $drawer-bar-space + $drawer-bar-height;
		transform: rotate(45deg);
	}
}
