.g-entry-tag {
	border: 1px solid $color-main;
	border-radius: 15px;
	padding: 4px 8px;
	line-height: 1;
	font-size: 10px;
	display: inline-block;
	text-decoration: none;
	color: $color-main;
	transition: all 0.3s ease 0s;
	font-weight: 700;

	&::before {
		content: "#";
		margin-left: 2px;
		color: $color-main;
		display: inline-block;
		transition: all 0.3s ease 0s;
	}

	@include mq('md') {
		font-size: 13px;
		padding: 5px 16px 4px;
	}

	&:hover {
		background: $color-main;
		color: #fff;

		&::before {
			color: #fff;
		}
	}
}
