.g-favorite {
	text-align: center;
	width: 50px;
	display: inline-block;
	text-decoration: none;
	color: inherit;

	img {
	}

	span {
		display: block;
		font-size: 10px;
		font-weight: 700;
		line-height: 1;
		margin-top: 4px;
		white-space: nowrap;
	}

	&:hover {
		color: $color-accent;
	}
}