.g-header-button {
	display: inline-block;
	padding: 6px 8px;
	color: $color-accent;
	border: 1px solid $color-accent;
	text-decoration: none;
	font-size: 10px;
	font-weight: 700;
	transition: all 0.3s ease 0s;
	white-space: nowrap;

	&:hover {
		color: #fff;
		background: $color-accent;
	}
}
