.g-icon-link {
  display: block;
  text-decoration: none;
  border-radius: 4px;
  background: #fff;
  color: $color-main;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  padding: 12px;
	transition: all 0.3s ease 0s;

  img {
  }

  span {
    display: block;
    font-size: 16px;
  }

	&:hover {
		color: $color-main;
	}
}
