.g-search-favorite {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	position: relative;
	display: inline-block;
	width: 46px;
	height: 52px;

	&::after {
		content: "";
		position: absolute;
		width: 46px;
		height: 52px;
		top: 0;
		left: 0;
		background: transparent url(../img/button-search-favorite@2x.png) no-repeat center center / contain;
		transition: all 0.3s ease 0s;
	}

	&.is-active {
		&::after {
			background-image: url(../img/button-search-favorite-active@2x.png);
		}
	}
}
