.g-search-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px 46px;
	text-align: center;
	color: #fff;
	background: $color-accent;
	border-radius: 20px;
	font-weight: 700;
	font-size: 16px;
	box-shadow: none;
	border: none;
	transition: all 0.3s ease 0s;

	&::before {
		content: "";
		width: 16px;
		height: 16px;
		margin-right: 8px;
		display: inline-block;
		background: url(../img/icon-search@2x.png) no-repeat center center / contain;
	}

	&:hover {
		background-color: #00485b;
	}
}
