.g-select {
  border: 1px solid #aaa;
	padding: 6px 21px 5px 10px;
	background: #fff url(../img/icon-select-arrow@2x.png) no-repeat right 7px center / 10px 6px;
  border-radius: 4px;
  font-size: 12px;
	height: 32px;
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	&::-ms-expand {
		display: none;
	}
}
