.g-select-filter {
	padding: 6px 21px 5px 7px;
	border-radius: 0;
	background: #fff url(../img/icon-select-arrow@2x.png) no-repeat right 7px center / 10px 6px;
	border: 1px solid #333;
	border-radius: 2px;
	font-family: inherit;
	font-size: 12px;
	color: #333;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	min-width: 140px;
	font-weight: 700;

	&::-ms-expand {
		display: none;
	}
}
