.g-tag {
	border: 1px solid $color-main;
	border-radius: 15px;
	padding: 4px 8px;
	line-height: 1;
	font-size: 10px;
	display: inline-block;
	text-decoration: none;
	color: $color-main;

	&::before {
		content: "#";
		margin-left: 2px;
		color: $color-main;
		display: inline-block;
	}
}
