<div class="g-form-control">
	<label for="area" class="g-form-control__label">都道府県</label>
	<div class="g-form-control__input">
		<select id="area" class="g-select">
			<option selected>都道府県を選択してください</option>
			<option value="1">北海道</option>
			<option value="2">青森</option>
			<option value="3">秋田</option>
		</select>
	</div>
</div>
