<div class="g-form-control">
	<div class="g-form-control__label">返済の有無・利子</div>
	<div class="g-form-control__input is-radio g-radios is-33">
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="back">
				<span>給付</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="back">
				<span>貸与<br class="g-hidden-md">(利子あり)</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="back">
				<span>貸与<br class="g-hidden-md">(利子なし)</span>
			</label>
		</div>
	</div>
</div>
