<div class="g-form-control">
	<label for="organization" class="g-form-control__label">学校・団体名</label>
	<div class="g-form-control__input">
		<input type="text" class="g-text" id="organization" placeholder="学校・団体名を入力してください">
	</div>
</div>
