<div class="g-form-control">
	<label for="scholarship" class="g-form-control__label">奨学金名</label>
	<div class="g-form-control__input">
		<input type="text" class="g-text" id="scholarship" placeholder="奨学金名を入力してください">
	</div>
</div>
