<div class="g-form-control">
	<div class="g-form-control__label">支給対象の学生</div>
	<div class="g-form-control__input is-radio g-radios is-33">
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="school-course">
				<span>高校</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="school-course">
				<span>大学</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="school-course">
				<span>大学院</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="school-course">
				<span>短期大学</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="school-course">
				<span>高等専門学校</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="school-course">
				<span>専修学校</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="school-course">
				<span>その他</span>
			</label>
		</div>
	</div>
</div>
