<form action="" class="g-search-form">
	<div class="g-search-form__control"><%- include ( './_organization' ) %></div>
	<div class="g-search-form__control"><%- include ( './_scholarship' ) %></div>
	<div class="g-search-form__control"><%- include ( './_school-course' ) %></div>
	<div class="g-search-form__control"><%- include ( './_area' ) %></div>
	<div class="g-search-form__control"><%- include ( './_type' ) %></div>
	<div class="g-search-form__control"><%- include ( './_timing' ) %></div>
	<div class="g-search-form__button"><button type="submit" class="g-search-button">検索する</button></div>
</form><!-- /g-search-form -->
