<div class="mb-3 g-form-control">
	<div class="g-form-control__label">支給対象の学生</div>
	<div class="g-form-control__input is-radio g-radios is-33">
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="timing">
				<span>学校出願時</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="timing">
				<span>入学手続き時</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="timing">
				<span>入学後</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="timing">
				<span>随時</span>
			</label>
		</div>
	</div>
</div>
