<div class="mb-3 g-form-control">
	<div for="school_course" class="g-form-control__label">申込み時期</div>
	<div class="g-form-control__input is-radio g-radios">
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="type">
				<span>もらえる奨学金(給付)</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="type">
				<span>借りれる奨学金(貸与)</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="type">
				<span>授業料減免</span>
			</label>
		</div>
		<div class="g-radios__item">
			<label class="g-check">
				<input type="checkbox" name="type">
				<span>その他</span>
			</label>
		</div>
	</div>
</div>
