<%- include( '../common/_html-open' ) %>
<%- include( '../common/_meta',
{
	title: 'タイトル',
	description: 'ディスクリプション',
	keyword: 'キーワード1,キーワード2',
} ) %>
<%- include( '../common/_style' ) %>
<%- include( '../common/_body' ) %>
<%- include ( '../common/_header', { tag: 'div' } ) %>

<div class="g-breadcrumb">
	<div class="g-inner g-breadcrumb__inner">
		<div class="g-breadcrumb__items">
			<div class="g-breadcrumb__item"><a href="/">ガクシー TOP</a></div>
			<div class="g-breadcrumb__item"><a href="/column/">コラム一覧</a></div>
			<div class="g-breadcrumb__item"><span>【2021年版】留学希望者必見！奨学金情報テキストテキストテキストテキストテキストテキスト</span></div>
		</div><!-- /g-breadcrumb__items -->
	</div><!-- /g-breadcrumb__inner -->
</div><!-- /g-breadcrumb -->

<div class="g-page-blog p-page">
	<div class="g-page-blog__inner g-inner">
		<div class="g-page-blog__entry g-blog-entry">
			<div class="g-blog-entry__image"><img src="/assets/img/pickup-image.jpg" alt=""></div>
			<h1 class="g-blog-entry__title">【2021年版】留学希望者必見！奨学金情報テキストテキストテキストテキストテキストテキスト</h1>
			<div class="g-blog-entry__tag"><a href="/column/" class="g-entry-tag">カテゴリ</a></div>
			<div class="g-blog-entry__meta">
				<time class="g-blog-entry__published" datetime="2021-08-16">2021.08.16</time>
				<time class="g-blog-entry__updated" datetime="2021-08-17">2021.08.17</time>
				<div class="g-blog-entry__share"><a class="g-button-share" href="">この情報を共有する</a></div>
			</div><!-- /g-blog-entry__meta -->
			<div class="g-blog-entry__content g-entry-content">
				<p>テキストが入ります。<strong>太字テキストが入ります。</strong>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
				<h2>H2テキストテキストテキストテキスト</h2>
				<p>テキストが入ります。<a href="">リンクテキストが入ります。</a>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
				<h3>H3テキストテキストテキストテキスト</h3>
				<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
				<h4>H4テキストテキストテキストテキスト</h4>
				<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
				<ul>
					<li>リストリストリスト</li>
					<li>リストリストリスト</li>
					<li>リストリストリスト</li>
				</ul>
				<blockquote>
					フォントを斜体に(可能なら)__引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。引用テキストが入ります。
					<cite><a href="" target="_blank">引用元：○○○○フォントを斜体に(可能なら)</a></cite>
				</blockquote>
				<table>
					<tr>
						<th></th>
						<th>項目1</th>
						<th>項目2</th>
						<th>項目3</th>
						<th>項目4</th>
					</tr>
					<tr>
						<th>項目1</th>
						<td>テキスト</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>項目2</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>項目3</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>項目4</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>項目5</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
				<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
			</div><!-- /g-blog-entry__content -->
		</div><!-- /g-page-blog__entry -->
		<div class="g-page-blog__share"><a class="g-button-share" href="">この情報を共有する</a></div><!-- /g-page-blog__share -->
		<div class="g-page-blog__pagination g-entry-pagination">
			<div href="" class="g-entry-pagination__prev"><a href="">前の記事</a></div>
			<div href="" class="g-entry-pagination__home"><a href="/column/">記事一覧</a></div>
			<div class="g-entry-pagination__next"><a href="">次の記事</a></div>
		</div><!-- /g-page-blog__pagination -->

		<div class="g-page-blog__relation">
			<div class="g-heading">同じカテゴリのコラム一覧</div>
			<%- include( '../common/column/_column-links' ) %>
		</div><!-- /g-page-blog__relation -->
	</div><!-- /g-page-blog__inner -->
</div><!-- /g-page-blog -->

<div class="g-share-fixed-button">
	<div class="g-share-fixed-button__item"><a href="" class="g-button-share-sp" role="button"></a></div>
</div><!-- /g-share-fixed-button -->
<%- include ( '../common/_footer' ) %>
<%- include ( '../common/_script' ) %>
<%- include ( '../common/_html-close' ) %>
