<%- include( '../common/_html-open' ) %>
<%- include( '../common/_meta',
{
	title: 'タイトル',
	description: 'ディスクリプション',
	keyword: 'キーワード1,キーワード2',
} ) %>
<%- include( '../common/_style' ) %>
<%- include( '../common/_body' ) %>
<%- include ( '../common/_header', { tag: 'div' } ) %>

<div class="g-breadcrumb">
	<div class="g-inner g-breadcrumb__inner">
		<div class="g-breadcrumb__items">
			<div class="g-breadcrumb__item"><a href="/">ガクシー TOP</a></div>
			<div class="g-breadcrumb__item"><span>コラム一覧</span></div>
		</div><!-- /g-breadcrumb__items -->
	</div><!-- /g-breadcrumb__inner -->
</div><!-- /g-breadcrumb -->

<div class="g-page-archive p-page">
	<div class="g-page-archive__inner g-inner">
		<h1 class="g-heading">カテゴリ名</h1>
		<div class="g-page-archive__items g-archive-items">
			<div class="g-archive-items__card is-no-border"><%- include ( '../common/column/_column-large-card' ) %></div>
			<div class="g-archive-items__card"><%- include ( '../common/column/_column-link' ) %></div>
			<div class="g-archive-items__card"><%- include ( '../common/column/_column-link' ) %></div>
			<div class="g-archive-items__card"><%- include ( '../common/column/_column-link' ) %></div>
			<div class="g-archive-items__card"><%- include ( '../common/column/_column-link' ) %></div>
			<div class="g-archive-items__card"><%- include ( '../common/column/_column-link' ) %></div>
			<div class="g-archive-items__card"><%- include ( '../common/column/_column-link' ) %></div>
			<div class="g-archive-items__card"><%- include ( '../common/column/_column-link' ) %></div>
			<div class="g-archive-items__card"><%- include ( '../common/column/_column-link' ) %></div>
			<div class="g-archive-items__card"><%- include ( '../common/column/_column-link' ) %></div>
			<div class="g-archive-items__card"><%- include ( '../common/column/_column-link' ) %></div>
			<div class="g-archive-items__card"><%- include ( '../common/column/_column-link' ) %></div>
		</div><!-- /g-page-archive__items -->
		<div class="g-page-archive__pagination g-pagination">
				<a class="g-pagination__item is-prev" href=""><img src="/assets/img/icon-prev@2x.png" alt="" width="8" height="14"></a>
				<a class="g-pagination__item" href="">1</a>
				<span class="g-pagination__item is-current" href="">2</span>
				<a class="g-pagination__item" href="">3</a>
				<a class="g-pagination__item" href="">4</a>
				<a class="g-pagination__item" href="">5</a>
				<a class="g-pagination__item is-prev" href=""><img src="/assets/img/icon-next@2x.png" alt="" width="8" height="14"></a>
			</div><!-- /g-page-search__pagination -->
	</div><!-- /g-page-archive__inner -->
</div><!-- /g-page-archive -->

<%- include ( '../common/_footer' ) %>
<%- include ( '../common/_script' ) %>
<%- include ( '../common/_html-close' ) %>
