<a class="g-ranking-link <%= rankingClass %>" href="/search/detail.html">
	<div class="g-ranking-link__title"><%= title %></div>
	<dl class="g-ranking-link__content">
		<div class="g-ranking-link__data">
			<dt>支給人数：</dt>
			<dd>10人</dd>
		</div>
		<div class="g-ranking-link__data">
			<dt>支給総額：</dt>
			<dd>1,000,000円</dd>
		</div>
		<div class="g-ranking-link__data">
			<dt>奨学金の種類：</dt>
			<dd>貸与(利子あり)</dd>
		</div>
	</dl>
</a><!-- /g-ranking-link -->
