<ol class="g-ranking-lists fade" id="ranking-lists8" role="tabpanel" aria-labelledby="ranking-tab8">
	<li class="g-ranking-lists__item">
		<%- include( './_ranking-link', { rankingClass: 'is-first', title: '返す奨学金' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_ranking-link', { rankingClass: 'is-second', title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_ranking-link', { rankingClass: 'is-third', title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_ranking-link', { rankingClass: 'is-fourth', title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_ranking-link', { rankingClass: 'is-fifth', title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_ranking-link', { rankingClass: 'is-sixth', title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_ranking-link', { rankingClass: 'is-seventh', title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_ranking-link', { rankingClass: 'is-eighth', title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_ranking-link', { rankingClass: 'is-ninth', title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_ranking-link', { rankingClass: 'is-tenth', title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
</ol><!-- /g-ranking-lists -->
