<ul id="js-ranking-tab" class="g-tab nav nav-tabs" role="tablist">
	<li class="g-tab__item" role="presentation"><a class="active" id="ranking-tab1" href="#ranking-lists1" data-bs-toggle="tab" role="tab" aria-controls="ranking-lists1" aria-selected="true">総合ランキング</a></li>
	<li class="g-tab__item" role="presentation"><a id="ranking-tab2" href="#ranking-lists2" data-bs-toggle="tab" role="tab" aria-controls="ranking-lists2" aria-selected="false">返さなくて<br>よい奨学金</a></li>
	<li class="g-tab__item" role="presentation"><a id="ranking-tab3" href="#ranking-lists3" data-bs-toggle="tab" role="tab" aria-controls="ranking-lists3" aria-selected="false">支給金額が<br>大きい</a></li>
	<li class="g-tab__item" role="presentation"><a id="ranking-tab4" href="#ranking-lists4" data-bs-toggle="tab" role="tab" aria-controls="ranking-lists4" aria-selected="false">採用人数が<br>多い</a></li>
	<li class="g-tab__item" role="presentation"><a id="ranking-tab5" href="#ranking-lists5" data-bs-toggle="tab" role="tab" aria-controls="ranking-lists5" aria-selected="false">もうすぐ<br>締切！</a></li>
	<li class="g-tab__item" role="presentation"><a id="ranking-tab6" href="#ranking-lists6" data-bs-toggle="tab" role="tab" aria-controls="ranking-lists6" aria-selected="false">家庭の<br>経済条件なし</a></li>
	<li class="g-tab__item" role="presentation"><a id="ranking-tab7" href="#ranking-lists7" data-bs-toggle="tab" role="tab" aria-controls="ranking-lists7" aria-selected="false">学業の<br>成績条件なし</a></li>
	<li class="g-tab__item" role="presentation"><a id="ranking-tab8" href="#ranking-lists8" data-bs-toggle="tab" role="tab" aria-controls="ranking-lists8" aria-selected="false">返す奨学金</a></li>
	<li class="g-tab__item" role="presentation"><a id="ranking-tab9" href="#ranking-lists9" data-bs-toggle="tab" role="tab" aria-controls="ranking-lists9" aria-selected="false">学費免除</a></li>
</ul><!-- /g-tab -->
