<%- include( '../common/_html-open' ) %>
<%- include( '../common/_meta',
{
	title: 'タイトル',
	description: 'ディスクリプション',
	keyword: 'キーワード1,キーワード2',
} ) %>
<%- include( '../common/_style' ) %>
<%- include( '../common/_body' ) %>
<%- include ( '../common/_header', { tag: 'div' } ) %>

<div class="g-breadcrumb">
	<div class="g-inner g-breadcrumb__inner">
		<div class="g-breadcrumb__items">
			<div class="g-breadcrumb__item"><a href="/">ガクシー TOP</a></div>
			<div class="g-breadcrumb__item"><span>ピックアップ詳細</span></div>
		</div><!-- /g-breadcrumb__items -->
	</div><!-- /g-breadcrumb__inner -->
</div><!-- /g-breadcrumb -->

<div class="g-page-pickup p-page">
	<div class="g-page-pickup__inner g-inner">
		<div class="g-page-pickup__entry g-pickup-entry">
			<div class="g-pickup-entry__image"><img src="/assets/img/pickup-image.jpg" alt=""></div><!-- /g-pickup-entry__image -->
			<h1 class="g-pickup-entry__title">ピックアップテーマについてのタイトルが入ります。返さなくていい奨学金</h1><!-- /g-pickup-entry__title -->
			<div class="g-pickup-entry__content g-entry-content">
				<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
			</div><!-- /g-pickup-entry__content g-entry-content -->
		</div><!-- /g-pickup-entry -->
		<div class="g-page-pickup__lists">
			<h2 class="g-heading">ピックアップ対象の奨学金一覧</h2>
			<%- include( '../common/relation/_links' ) %>
		</div><!-- /g-page-pickup__lists -->
	</div><!-- /g-page-pickup__inner -->
</div><!-- /g-page-pickup -->

<%- include ( '../common/_footer' ) %>
<%- include ( '../common/_script' ) %>
<%- include ( '../common/_html-close' ) %>
