<a class="g-tag-link" href="/pickup/index.html">
	<div class="g-tag-link__img"><img src="./assets/img/popular5@2x.jpg" alt="" width="52" height="52" loading="lazy"></div>
	<div class="g-tag-link__text">ガクシー限定<br>奨学金</div>
</a><!-- /g-tag-link -->
