<a class="g-tag-link" href="/pickup/index.html">
	<div class="g-tag-link__img"><img src="./assets/img/popular1@2x.jpg" alt="" width="52" height="52" loading="lazy"></div>
	<div class="g-tag-link__text">返さなくてよい<br>奨学金(給付型)</div>
</a><!-- /g-tag-link -->
