<div class="g-tag-links">
	<div class="g-tag-links__item"><%- include ( './_pickup-link1' ) %></div>
	<div class="g-tag-links__item"><%- include ( './_pickup-link2' ) %></div>
	<div class="g-tag-links__item"><%- include ( './_pickup-link3' ) %></div>
	<div class="g-tag-links__item"><%- include ( './_pickup-link4' ) %></div>
	<div class="g-tag-links__item"><%- include ( './_pickup-link5' ) %></div>
	<div class="g-tag-links__item"><%- include ( './_pickup-link6' ) %></div>
</div><!-- /g-tag-links -->
