<a class="g-tag-link" href="/pickup/index.html">
	<div class="g-tag-link__img"><img src="./assets/img/popular2@2x.jpg" alt="" width="52" height="52" loading="lazy"></div>
	<div class="g-tag-link__text">海外</div>
</a><!-- /g-tag-link -->
