<a class="g-tag-link" href="/pickup/index.html">
	<div class="g-tag-link__img"><img src="./assets/img/popular6@2x.jpg" alt="" width="52" height="52" loading="lazy"></div>
	<div class="g-tag-link__text">日本学生<br>支援機構</div>
</a><!-- /g-tag-link -->
