<a class="g-news-link" href="/column/detail.html">
	<time class="g-news-link__published" datetime="2021-08-12">2021.08.12</time><!-- /g-news-link__published -->
	<div class="g-news-link__title"><%= title %></div>
</a><!-- /g-ranking-link -->
