<ol class="g-ranking-lists fade show active" id="news-lists1" role="tabpanel" aria-labelledby="news-tab1">
	<li class="g-ranking-lists__item">
		<%- include( './_news-link', { title: '最新情報テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_news-link', { title: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_news-link', { title: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_news-link', { title: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_news-link', { title: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト' } ) %>
	</li>
</ol><!-- /g-ranking-lists -->
