<ol class="g-ranking-lists fade" id="news-lists2" role="tabpanel" aria-labelledby="news-tab2">
	<li class="g-ranking-lists__item">
		<%- include( './_news-link', { rankingClass: 'is-first', title: 'お知らせテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_news-link', { rankingClass: 'is-second', title: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_news-link', { rankingClass: 'is-third', title: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_news-link', { rankingClass: 'is-fourth', title: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト' } ) %>
	</li>
	<li class="g-ranking-lists__item">
		<%- include( './_news-link', { rankingClass: 'is-fifth', title: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト' } ) %>
	</li>
</ol><!-- /g-ranking-lists -->
