<ul id="js-ranking-tab" class="g-tab nav nav-tabs" role="tablist">
	<li class="g-tab__item" role="presentation"><a class="active" id="news-tab1" data-bs-toggle="tab" role="tab" aria-controls="news-lists1" href="#news-lists1" aria-selected="true">最新情報</a></li>
	<li class="g-tab__item" role="presentation"><a id="news-tab2" data-bs-toggle="tab" role="tab" aria-controls="news-lists2" href="#news-lists2" aria-selected="false">お知らせ</a></li>
</ul><!-- /g-tab -->
