<div class="g-terms-card">
	<div class="g-terms-card__head">
		<span class="g-terms-card__date">2021.08.21</span>
		<button class="g-terms-card__close" type="button"><img src="/assets/img/icon-close-green@2x.png" alt="" width="24" height="24"></button>
	</div>
	<div class="g-terms-card__body">
		<div class="g-terms-card__body-head">【検索条件】</div>
		<div class="g-terms-card__content">大学/専門学校 | 東京都 | 奨学金/入学金/入学料減免 | 学校出願時/入学手続き時 | ○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/</div>
		<div class="g-terms-card__button"><button class="g-search-button" type="button">この条件で検索</button></div>
	</div>
</div><!-- /g-terms-card -->
