<%- include( '../common/_html-open' ) %>
<%- include( '../common/_meta',
{
	title: 'タイトル',
	description: 'ディスクリプション',
	keyword: 'キーワード1,キーワード2',
} ) %>
<%- include( '../common/_style' ) %>
<%- include( '../common/_body' ) %>
<%- include ( '../common/_header', { tag: 'div' } ) %>

<div class="g-breadcrumb">
	<div class="g-inner g-breadcrumb__inner">
		<div class="g-breadcrumb__items">
			<div class="g-breadcrumb__item"><a href="/">ガクシー TOP</a></div>
			<div class="g-breadcrumb__item"><span>検索条件保存一覧</span></div>
		</div><!-- /g-breadcrumb__items -->
	</div><!-- /g-breadcrumb__inner -->
</div><!-- /g-breadcrumb -->

<div class="g-page-terms p-page">
	<div class="g-page-terms__inner g-inner">
		<div class="g-page-terms__main">
			<h1 class="g-heading">検索条件保存一覧</h1>
			<div class="g-terms-cards g-page-terms__content">
				<div class="g-terms-cards__item"><%- include ( './_terms-card' ) %></div>
				<div class="g-terms-cards__item"><%- include ( './_terms-card' ) %></div>
				<div class="g-terms-cards__item"><%- include ( './_terms-card' ) %></div>
				<div class="g-terms-cards__item"><%- include ( './_terms-card' ) %></div>
				<div class="g-terms-cards__item"><%- include ( './_terms-card' ) %></div>
				<div class="g-terms-cards__item"><%- include ( './_terms-card' ) %></div>
				<div class="g-terms-cards__item"><%- include ( './_terms-card' ) %></div>
			</div><!-- /g-page-terms__content -->
		</div><!-- /g-page-terms__main -->
		<div class="g-page-terms__form">
			<h2 class="g-heading">条件から探す</h2>
			<div class="g-page-terms__form-content">
			<%- include ( '../common/search/_search-form' ) %>
			</div>
		</div><!-- /g-page-terms__form -->
	</div><!-- /g-page-terms__inner -->
</div><!-- /g-page-terms -->

<div class="g-share-fixed-button">
	<div class="g-share-fixed-button__item"><a href="" class="g-button-share-sp" role="button"></a></div>
</div><!-- /g-share-fixed-button -->
<%- include ( '../common/_footer' ) %>
<%- include ( '../common/_script' ) %>
<%- include ( '../common/_html-close' ) %>
