<a class="g-blog-card" href="/column/detail.html">
	<div class="g-blog-card__img">
		<figure class="g-blog-card__figure"><img src="/assets/img/blog@2x.png" alt="" width="180" height="135" loading="lazy"></figure>
	</div>
	<div class="g-blog-card__body">
		<div class="g-blog-card__title">【2021年版】留学希望者必見！奨学金情報まとめ</div>
		<div class="g-blog-card__meta">
			<time class="g-blog-card__time" datetime="2021-08-12">2021.08.12</time>
			<div href="/column/" class="g-blog-card__tag g-tag">カテゴリー</div>
		</div>
	</div>
</a><!-- /g-blog-card -->
