<div class="g-column-links">
	<div class="g-column-links__item"><%- include ( './_column-link' ) %></div>
	<div class="g-column-links__item"><%- include ( './_column-link' ) %></div>
	<div class="g-column-links__item"><%- include ( './_column-link' ) %></div>
	<div class="g-column-links__item"><%- include ( './_column-link' ) %></div>
	<div class="g-column-links__item"><%- include ( './_column-link' ) %></div>
	<div class="g-column-links__item"><%- include ( './_column-link' ) %></div>
</div><!-- /g-column-links -->
