.g-share-fixed-button {
	position: fixed;
	bottom: (60px + 6px);
	right: 10px;
	z-index: map-get($layer, "header") - 2;

	@include mq('md') {
		display: none;
	}
}

.g-share-fixed-button__item {
	&:nth-of-type(n + 2) {
		margin-top: 10px;
	}
}
