.g-drawer {
  position: fixed;
  width: 260px;
  height: calc(100vh - 60px - 60px);
  z-index: 20;
  right: 0;
  top: $header-height-sp;
  background: $color-main;
  padding: 20px;
	z-index: map-get($layer, "header") - 1;
	transform: translateX(101%);
	transition: all 0.5s ease 0s;
	overflow: auto;

	&.is-active {
		transform: translateX(0);
	}
}

.g-drawer__nav {

}

.g-drawer__link {
	&:nth-child(n + 2) {
		margin-top: 20px;
	}
}

.g-drawer__sns {
	margin-top: 40px;
}

.g-drawer-bg {
	width: 100%;
	height: 100%;
	background: rgba(#000, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: map-get($layer, "header") - 2;
	display: none;

	&.is-active {
		display: block;
	}
}
