.g-header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow:  0 1px 2px rgba(#000, 0.16);
	z-index: map-get($layer, "header");
	display: flex;
	top: 0;
	left: 0;
	padding: 0 12px;

	@include mq('md') {
		padding-left: 0;
		padding-right: 0;
	}
}

.g-header__inner {
	display: flex;
	align-items: center;
	width: 100%;
}

.g-header__logo {
	margin-right: auto;
}

.g-header__nav {
	display: none;

	@include mq('md') {
		display: flex;
		align-items: center;
	}
}

.g-header__link {
	&:nth-child(n + 2) {
		margin-left: 32px;
	}

	a {
		text-decoration: none;
		color: inherit;
		font-size: 14px;
		font-weight: 700;
		transition: all 0.3s ease 0s;

		&:hover {
			color: $color-accent;
		}
	}
}

.g-header__b {
	margin-left: 32px;
}

.g-header__terms {
	display: none;

	@include mq('md') {
		margin-left: 32px;
		display: block;
	}
}

.g-header__favorite {
	margin-left: 6px;

	@include mq('md') {
		margin-left: 32px;
	}
}

.g-header__drawer-button {
	margin-left: 6px;

	@include mq('md') {
		display: none;
	}
}
