.g-inner {
	width: $layout-width-inner;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;

	@include mq('md') {
		padding-left: $pd-tab;
		padding-right: $pd-tab;
	}

	@include mq('xl') {
		padding-left: 0;
		padding-right: 0;
	}
}
