.g-page-archive {
}

.g-page-archive__inner {
	@include mq('md') {
		width: 894px;
	}
}

.g-page-archive__items {
	margin-top: 20px;
}

.g-page-archive__pagination {
	margin-top: 32px;

	@include mq('md') {
		margin-top: 40px;
	}
}
