.g-page-blog {
}

.g-page-blog__inner {
	@include mq('md') {
		width: 792px;
	}
}

.g-page-blog__entry {
	padding-left: 20px;
	padding-right: 20px;
}

.g-page-blog__share {
	display: none;
	text-align: center;
	margin-top: 36px;
	margin-bottom: 36px;

	@include mq('md') {
		display: block;
	}
}

.g-page-blog__pagination {
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.g-page-blog__relation {
	margin-top: 40px;
}
