.g-page-terms {
	background: #ddd;
}

.g-page-terms__inner {

	@include mq('md') {
		width: 1020px;
		grid-template-columns: 1fr 282px;
		grid-template-rows: auto;
		display: grid;
		column-gap: 40px;
		row-gap: 40px;
	}
}

.g-page-terms__main {
	@include mq('md') {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
}

.g-page-terms__content {
	padding: 0 20px;
	margin-top: 20px;

	@include mq('md') {
		padding-left: 0;
		padding-right: 0;
	}
}

.g-page-terms__form {
	margin-top: 40px;

	@include mq('md') {
		margin-top: 0;
		grid-column: 2 / 3;
		grid-row: 1 / 2;

		@include mq('ie') {
			margin-left: 40px;
		}
	}
}

.g-page-terms__form-content {
	background: #fff;

	@include mq('md') {
		padding: 0 10px 20px
	}
}
