.g-radios {
	display: flex;
	flex-wrap: wrap;
}

.g-radios__item {

	width: calc(50% - 4px * 2 / 3);

	@include mq('md') {
		width: auto;
		margin-right: 12px;
		margin-top: 10px;
	}

	&:not(:nth-child(2n + 1)) {
		margin-left: 4px;

		@include mq('md') {
			margin-left: 0;
		}
	}

	&:nth-child(n + 3) {
		margin-top: 4px;

		@include mq('md') {
			margin-top: 10px;
		}
	}
}
