.g-page-search {
	padding: 0 0 20px;

	@include mq('md') {
		padding-bottom: 40px;
	}
}

.g-page-search__inner {

	@include mq('md') {
		width: 1020px;
		grid-template-columns: 1fr 282px;
		grid-template-rows: auto;
		display: grid;
		column-gap: 40px;
		row-gap: 40px;
	}
}

.g-page-search__main {
	@include mq('md') {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
}

.g-page-search__terms {
	padding: 0 20px;
	margin-top: 18px;

	@include mq('md') {
		padding-right: 0;
		padding-left: 0;
		margin-top: 0;
	}
}

.g-page-search__filter {
	padding: 0 20px;
	margin-top: 12px;

	@include mq('md') {
		padding-right: 0;
		padding-left: 0;
	}
}

.g-page-search__result {
	margin-top: 12px;
}

.g-page-search__form {
	margin-top: 40px;

	@include mq('md') {
		margin-top: 0;
		grid-column: 2 / 3;
		grid-row: 1 / 2;

		@include mq('ie') {
			margin-left: 40px;
		}
	}
}

.g-page-search__pagination {
	margin-top: 32px;

	@include mq('md') {
		margin-top: 40px;
	}
}
