.g-terms-cards {
	@include mq('md') {
		display: flex;
		flex-wrap: wrap;
	}
}

.g-terms-cards__item {
	&:nth-child(n + 2) {
		margin-top: 12px;

		@include mq('md') {
			margin-top: 0;
		}
	}

	@include mq('md') {
		width: calc(50% - 20px / 2);

		&:nth-child(n + 3) {
			margin-top: 20px;
		}

		&:not(:nth-child(2n + 1)) {
			margin-left: 20px;
		}
	}
}
