.g-top {
	padding: 0 0 20px;

	@include mq('md') {
		padding-top: 32px;
		padding-bottom: 80px;
	}
}

.g-top__inner {

	@include mq('lg') {
		display: grid;
		column-gap: 24px;
		row-gap: 40px;
		grid-template-columns: 200px minmax(0, 1fr) 282px; /* 420px */
	}

	@include mq('xl') {

		grid-template-columns: 282px 588px 282px;
		grid-template-rows: auto auto;
	}
}

.g-top__banner {
	padding: 10px 20px;
	text-align: center;

	@include mq('md') {
		display: none;
	}
}

.g-top__area1 {

	@include mq('lg') {
		grid-column: 2 / 3;
		grid-row: 1 / 2;

		@include mq('ie') {
			margin-right: 24px;
			margin-left: 24px;
		}
	}
}

.g-top__area2 {

	@include mq('xl') {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
	}
}

.g-top__area3 {

	@include mq('lg') {
		grid-column: 2 / 3;
		grid-row: 2 / 3;

		@include mq('ie') {
			margin-right: 24px;
			margin-left: 24px;
		}
	}
}

.g-top__area4 {

	@include mq('lg') {
		grid-column: 3 / 4;
		grid-row: 1 / 3;
	}
}

.g-top__ranking {
}

.g-top__pickup,
.g-top__news,
.g-top__column,
.g-top__search,
.g-top__cotegory {
	margin-top: 40px;
}

.g-top__pickup,
.g-top__search {
	@include mq('lg') {
		margin-top: 0;
	}
}

.g-top__pickup {
}

.g-top__column {
}

.g-top__search {
}

.g-demo {
	.g-top__inner {

	}

	.g-top__ranking {
	}

	.g-top__pickup,
	.g-top__news,
	.g-top__column,
	.g-top__search,
	.g-top__cotegory {
		margin-top: 40px;
	}

	.g-top__pickup,
	.g-top__search {
		@include mq('lg') {
			margin-top: 0;
		}
	}

	.g-top__pickup {
	}

	.g-top__column {
	}

	.g-top__search {
	}
}
