body {
	padding-bottom: 60px;
	padding-top: 60px;
}

.g-button-fav-sp {
	display: inline-block;
	height: 56px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: top;
	width: 56px;
}

.g-button-fav-sp::after {
	background: transparent url(../img/button-fav-sp@2x.png) no-repeat center center/contain;
	content: "";
	height: 56px;
	left: 0;
	position: absolute;
	top: 0;
	width: 56px;
}

.g-button-fav-sp.is-active::after {
	background-image: url(../img/button-fav-sp-active@2x.png);
}

.g-button-fav {
	background: #fff;
	border: 1px solid #888;
	border-radius: 2px;
	color: #888;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	padding: 10px 8px 8px 28px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-button-fav::before {
	background: transparent url(../img/icon-fav-star@2x.png) no-repeat center center/contain;
	content: "";
	height: 15px;
	left: 8px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
}

.g-button-fav:hover {
	color: #888;
}

.g-button-fav.is-active {
	background: #106275;
	border-color: #106275;
	color: #fff;
}

.g-button-fav.is-active::before {
	background-image: url(../img/icon-fav-star-active@2x.png);
}

.g-button-save {
	background: #106275;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	padding: 10px 8px 8px 28px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-button-save::before {
	background: transparent url(../img/icon-save@2x.png) no-repeat center center/contain;
	content: "";
	height: 14px;
	left: 8px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 14px;
}

.g-button-save:hover {
	background-color: #00485b;
	color: #fff;
}

.g-button-share-sp {
	display: inline-block;
	height: 56px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: top;
	width: 56px;
}

.g-button-share-sp::after {
	background: transparent url(../img/button-share-sp@2x.png) no-repeat center center/contain;
	content: "";
	height: 56px;
	left: 0;
	position: absolute;
	top: 0;
	width: 56px;
}

.g-button-share {
	background: #fff;
	border: 1px solid #106275;
	border-radius: 2px;
	color: #106275;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	padding: 10px 8px 8px 28px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-button-share::before {
	background: transparent url(../img/icon-share@2x.png) no-repeat center center/contain;
	content: "";
	height: 15px;
	left: 8px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 13px;
}

.g-button-share:hover {
	background: #106275;
	color: #fff;
}

.g-button-share:hover::before {
	background-image: url(../img/icon-share-active@2x.png);
}

.g-check {
	cursor: pointer;
	display: block;
	position: relative;
}

.g-check span {
	align-items: center;
	border: 1px solid #aaa;
	border-radius: 4px;
	color: #aaa;
	display: flex;
	font-size: 12px;
	height: 32px;
	line-height: 1.16667;
	padding: 0 6px 0 38px;
}

.g-check [type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #ddd;
	border: none;
	border-radius: 2px;
	height: 18px;
	left: 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 18px;
}

.g-check [type=checkbox]:checked {
	background: #fff url(../img/icon-check@2x.png) no-repeat left 2px bottom 3px/13px 13px;
}

.g-check [type=checkbox]:checked + span {
	background-color: #106275;
	border-color: #106275;
	color: #fff;
}

.g-copyright {
	font-size: 12px;
	text-align: center;
}

.g-drawer-button {
	background: transparent;
	border: none;
	box-shadow: none;
	display: block;
	height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 40px;
}

.g-drawer-button__bars {
	display: inline-block;
	height: 14px;
	position: relative;
	width: 27px;
}

.g-drawer-button__bar1,
.g-drawer-button__bar2,
.g-drawer-button__bar3 {
	background: #009F58;
	border-radius: 3px;
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.g-drawer-button__bar1 {
	top: 0;
}

.is-active .g-drawer-button__bar1 {
	top: 6px;
	transform: rotate(-45deg);
}

.g-drawer-button__bar2 {
	top: 6px;
}

.is-active .g-drawer-button__bar2 {
	background: transparent;
}

.g-drawer-button__bar3 {
	top: 12px;
}

.is-active .g-drawer-button__bar3 {
	top: 6px;
	transform: rotate(45deg);
}

.g-entry-tag {
	border: 1px solid #009F58;
	border-radius: 15px;
	color: #009F58;
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	line-height: 1;
	padding: 4px 8px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-entry-tag::before {
	color: #009F58;
	content: "#";
	display: inline-block;
	margin-left: 2px;
	transition: all 0.3s ease 0s;
}

.g-entry-tag:hover {
	background: #009F58;
	color: #fff;
}

.g-entry-tag:hover::before {
	color: #fff;
}

.g-favorite {
	color: inherit;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 50px;
}

.g-favorite span {
	display: block;
	font-size: 10px;
	font-weight: 700;
	line-height: 1;
	margin-top: 4px;
	white-space: nowrap;
}

.g-favorite:hover {
	color: #106275;
}

.g-header-button {
	border: 1px solid #106275;
	color: #106275;
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	padding: 6px 8px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	white-space: nowrap;
}

.g-header-button:hover {
	background: #106275;
	color: #fff;
}

.g-heading {
	background: #009F58;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6875;
	margin: 0;
	padding: 8px 20px;
}

.g-icon-link {
	background: #fff;
	border-radius: 4px;
	color: #009F58;
	display: block;
	font-weight: 700;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-icon-link span {
	display: block;
	font-size: 16px;
}

.g-icon-link:hover {
	color: #009F58;
}

.g-search-button {
	align-items: center;
	background: #106275;
	border: none;
	border-radius: 20px;
	box-shadow: none;
	color: #fff;
	display: inline-flex;
	font-size: 16px;
	font-weight: 700;
	justify-content: center;
	padding: 10px 46px;
	text-align: center;
	transition: all 0.3s ease 0s;
}

.g-search-button::before {
	background: url(../img/icon-search@2x.png) no-repeat center center/contain;
	content: "";
	display: inline-block;
	height: 16px;
	margin-right: 8px;
	width: 16px;
}

.g-search-button:hover {
	background-color: #00485b;
}

.g-search-favorite {
	display: inline-block;
	height: 52px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 46px;
}

.g-search-favorite::after {
	background: transparent url(../img/button-search-favorite@2x.png) no-repeat center center/contain;
	content: "";
	height: 52px;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 46px;
}

.g-search-favorite.is-active::after {
	background-image: url(../img/button-search-favorite-active@2x.png);
}

.g-select-filter {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: #fff url(../img/icon-select-arrow@2x.png) no-repeat right 7px center/10px 6px;
	border: 1px solid #333;
	border-radius: 0;
	border-radius: 2px;
	color: #333;
	font-family: inherit;
	font-size: 12px;
	font-weight: 700;
	min-width: 140px;
	padding: 6px 21px 5px 7px;
}

.g-select-filter::-ms-expand {
	display: none;
}

.g-select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: #fff url(../img/icon-select-arrow@2x.png) no-repeat right 7px center/10px 6px;
	border: 1px solid #aaa;
	border-radius: 4px;
	font-size: 12px;
	height: 32px;
	padding: 6px 21px 5px 10px;
	width: 100%;
}

.g-select::-ms-expand {
	display: none;
}

.g-tag {
	border: 1px solid #009F58;
	border-radius: 15px;
	color: #009F58;
	display: inline-block;
	font-size: 10px;
	line-height: 1;
	padding: 4px 8px;
	text-decoration: none;
}

.g-tag::before {
	color: #009F58;
	content: "#";
	display: inline-block;
	margin-left: 2px;
}

.g-terms {
	color: inherit;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 80px;
}

.g-terms span {
	display: block;
	font-size: 10px;
	font-weight: 700;
	line-height: 1;
	margin-top: 4px;
	white-space: nowrap;
}

.g-terms:hover {
	color: #106275;
}

.g-text {
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	width: 100%;
}

.g-category-lists__item {
	border-bottom: 1px solid #ddd;
}

.g-share-fixed-button {
	bottom: 66px;
	position: fixed;
	right: 10px;
	z-index: 18;
}

.g-share-fixed-button__item:nth-of-type(n + 2) {
	margin-top: 10px;
}

.g-drawer {
	background: #009F58;
	height: calc(100vh - 60px - 60px);
	overflow: auto;
	padding: 20px;
	position: fixed;
	right: 0;
	top: 60px;
	transform: translateX(101%);
	transition: all 0.5s ease 0s;
	width: 260px;
	z-index: 20;
	z-index: 19;
}

.g-drawer.is-active {
	transform: translateX(0);
}

.g-drawer__link:nth-child(n + 2) {
	margin-top: 20px;
}

.g-drawer__sns {
	margin-top: 40px;
}

.g-drawer-bg {
	background: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 18;
}

.g-drawer-bg.is-active {
	display: block;
}

.g-header {
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
	display: flex;
	height: 60px;
	left: 0;
	padding: 0 12px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

.g-header__inner {
	align-items: center;
	display: flex;
	width: 100%;
}

.g-header__logo {
	margin-right: auto;
}

.g-header__nav {
	display: none;
}

.g-header__link:nth-child(n + 2) {
	margin-left: 32px;
}

.g-header__link a {
	color: inherit;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-header__link a:hover {
	color: #106275;
}

.g-header__b {
	margin-left: 32px;
}

.g-header__terms {
	display: none;
}

.g-header__favorite {
	margin-left: 6px;
}

.g-header__drawer-button {
	margin-left: 6px;
}

.g-inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 0;
	width: 1200px;
}

.g-page-archive__items {
	margin-top: 20px;
}

.g-page-archive__pagination {
	margin-top: 32px;
}

.g-page-blog__entry {
	padding-left: 20px;
	padding-right: 20px;
}

.g-page-blog__share {
	display: none;
	margin-bottom: 36px;
	margin-top: 36px;
	text-align: center;
}

.g-page-blog__pagination {
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.g-page-blog__relation {
	margin-top: 40px;
}

.g-page-detail {
	padding-bottom: 40px;
	padding-top: 0;
}

.g-page-detail__relation {
	margin-top: 40px;
}

.g-page-pickup {
	padding-bottom: 40px;
}

.g-page-pickup__lists {
	margin-top: 20px;
}

.g-page-terms {
	background: #ddd;
}

.g-page-terms__content {
	margin-top: 20px;
	padding: 0 20px;
}

.g-page-terms__form {
	margin-top: 40px;
}

.g-page-terms__form-content {
	background: #fff;
}

.p-page {
	padding-bottom: 40px;
}

.g-radios {
	display: flex;
	flex-wrap: wrap;
}

.g-radios__item {
	width: calc(50% - 4px * 2 / 3);
}

.g-radios__item:not(:nth-child(2n + 1)) {
	margin-left: 4px;
}

.g-radios__item:nth-child(n + 3) {
	margin-top: 4px;
}

.g-search-filters {
	align-items: center;
	display: flex;
}

.g-search-filters__right {
	margin-left: auto;
}

.g-page-search {
	padding: 0 0 20px;
}

.g-page-search__terms {
	margin-top: 18px;
	padding: 0 20px;
}

.g-page-search__filter {
	margin-top: 12px;
	padding: 0 20px;
}

.g-page-search__result {
	margin-top: 12px;
}

.g-page-search__form {
	margin-top: 40px;
}

.g-page-search__pagination {
	margin-top: 32px;
}

.g-terms-cards__item:nth-child(n + 2) {
	margin-top: 12px;
}

.g-top {
	padding: 0 0 20px;
}

.g-top__banner {
	padding: 10px 20px;
	text-align: center;
}

.g-top__pickup,
.g-top__news,
.g-top__column,
.g-top__search,
.g-top__cotegory {
	margin-top: 40px;
}

.g-demo .g-top__pickup,
.g-demo .g-top__news,
.g-demo .g-top__column,
.g-demo .g-top__search,
.g-demo .g-top__cotegory {
	margin-top: 40px;
}

.g-about-card {
	text-align: center;
}

.g-about-card__head {
	font-size: 16px;
	font-weight: 700;
}

.g-about-card__text {
	font-size: 14px;
	line-height: 1.71429;
	margin-top: 16px;
}

.g-archive-items__card {
	border-bottom: 1px solid #ddd;
}

.g-archive-items__card.is-no-border {
	border-bottom: none;
}

.g-blog-card {
	align-items: center;
	color: inherit;
	display: flex;
	flex-wrap: wrap;
	font-weight: 700;
	padding: 14px 20px;
	text-decoration: none;
	transition: all 0.5s ease 0s;
}

.g-blog-card:hover {
	color: #106275;
}

.g-blog-card__img {
	width: 100px;
}

.g-blog-card__figure {
	margin: 0;
	overflow: hidden;
	padding: 75% 0 0;
	position: relative;
	width: 100%;
}

.g-blog-card__figure img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	transition: all 0.5s ease 0s;
	width: 100%;
}

.g-blog-card__body {
	padding-left: 12px;
	width: calc(100% - 100px);
}

.g-blog-card__title {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	font-size: 14px;
	line-height: 1.42857;
	overflow: hidden;
}

.g-blog-card__meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-top: 3px;
}

.g-blog-card__time {
	color: #aaa;
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	margin-top: 3px;
}

.g-blog-card__tag {
	margin-left: 12px;
	margin-top: 3px;
}

.g-blog-entry__image {
	text-align: center;
}

.g-blog-entry__image img {
	height: auto;
	max-width: 100%;
}

.g-blog-entry__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	margin-top: 18px;
}

.g-blog-entry__tag {
	margin-top: 14px;
}

.g-blog-entry__meta {
	align-items: center;
	display: flex;
	margin-top: 10px;
}

.g-blog-entry__published,
.g-blog-entry__updated {
	color: #009F58;
	font-size: 12px;
	line-height: 1;
	padding-left: 16px;
	position: relative;
}

.g-blog-entry__published::before,
.g-blog-entry__updated::before {
	background: transparent url(../img/icon-published@2x.png) no-repeat center center/contain;
	content: "";
	height: 12px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
}

.g-blog-entry__published::before {
	background-image: url(../img/icon-published@2x.png);
}

.g-blog-entry__updated {
	margin-left: 20px;
}

.g-blog-entry__updated::before {
	background-image: url(../img/icon-updated@2x.png);
}

.g-blog-entry__share {
	display: none;
	margin-left: auto;
}

.g-blog-entry__content {
	margin-top: 36px;
}

.g-blog-large-card {
	color: inherit;
	display: block;
	font-weight: 700;
	padding: 0 20px;
	position: relative;
	text-decoration: none;
	transition: all 0.5s ease 0s;
}

.g-blog-large-card:hover {
	color: #106275;
}

.g-blog-large-card__img {
	width: 100%;
}

.g-blog-large-card__figure {
	margin: 0;
	overflow: hidden;
	padding: 62.57485% 0 0;
	position: relative;
	width: 100%;
}

.g-blog-large-card__figure img {
	-o-object-fit: cover;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	transition: all 0.5s ease 0s;
	width: 100%;
}

.g-blog-large-card__body {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
	bottom: 0;
	color: #fff;
	left: 50%;
	padding: 10px;
	position: absolute;
	transform: translateX(-50%);
	width: calc(100% - 20px * 2);
}

.g-blog-large-card__title {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	font-size: 14px;
	line-height: 1.42857;
	overflow: hidden;
}

.g-blog-large-card__meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-top: 3px;
}

.g-blog-large-card__time {
	color: #fff;
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	margin-top: 3px;
}

.g-blog-large-card__tag {
	background: #fff;
	border: 1px solid #009F58;
	border-radius: 15px;
	color: #009F58;
	display: inline-block;
	font-size: 10px;
	line-height: 1;
	margin-left: 12px;
	margin-top: 3px;
	padding: 4px 8px;
}

.g-blog-large-card__tag::before {
	color: #009F58;
	content: "#";
	display: inline-block;
	margin-left: 2px;
}

.g-breadcrumb {
	background: #f2f2f2;
	overflow: auto;
	padding: 8px 20px;
}

.g-breadcrumb__items {
	align-items: center;
	display: flex;
}

.g-breadcrumb__item {
	position: relative;
}

.g-breadcrumb__item:nth-child(n + 2) {
	margin-left: 21px;
}

.g-breadcrumb__item:nth-child(n + 2)::after {
	background: transparent url(../img/icon-bridge@2x.png) no-repeat center center/contain;
	content: "";
	height: 6px;
	position: absolute;
	right: calc(100% + 8px);
	top: 50%;
	transform: translateY(-50%);
	width: 5px;
}

.g-breadcrumb__item a,
.g-breadcrumb__item span {
	color: #0066cc;
	display: block;
	font-size: 10px;
	line-height: 1;
	white-space: nowrap;
}

.g-breadcrumb__item a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-breadcrumb__item a:hover {
	opacity: 0.6;
}

.g-category-link {
	color: inherit;
	display: block;
	padding: 12px 50px 12px 20px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-category-link::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.g-category-link::after {
	background: transparent url(../img/icon-arrow@2x.png) no-repeat center center/contain;
	height: 14px;
	right: 16px;
	transition: all 0.3s ease 0s;
	width: 8px;
}

.g-category-link:hover {
	color: #106275;
}

.g-category-link__title {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	font-size: 14px;
	font-weight: 700;
	margin-top: 3px;
	overflow: hidden;
}

.g-column-links {
	display: flex;
	flex-wrap: wrap;
}

.g-column-links__item {
	border-bottom: 1px solid #ddd;
	width: 100%;
}

.g-entry-content {
	font-size: 14px;
	line-height: 1.71429;
}

.g-entry-content > :first-child {
	margin-top: 0;
}

.g-entry-content > :last-child {
	margin-bottom: 0;
}

.g-entry-content h2 + p,
.g-entry-content h3 + p,
.g-entry-content h4 + p,
.g-entry-content h5 + p,
.g-entry-content h6 + p {
	margin-top: 0;
}

.g-entry-content h2 {
	color: #009F58;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.72222;
	margin-bottom: 1em;
	margin-top: 2em;
	padding-left: 10px;
	position: relative;
}

.g-entry-content h2::before {
	background: #009F58;
	border-radius: 10px;
	content: "";
	height: 32px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 4px;
}

.g-entry-content h3 {
	border-bottom: 1px solid #009F58;
	color: #009F58;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6875;
	margin-bottom: 1em;
	margin-top: 1.8em;
	padding-bottom: 4px;
}

.g-entry-content h4 {
	color: #009F58;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.71429;
	margin-bottom: 1em;
	margin-top: 1.6em;
}

.g-entry-content h5 {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.g-entry-content h6 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.g-entry-content p {
	font-size: 14px;
	line-height: 1.71429;
	margin-bottom: 0.8em;
	margin-top: 1.2em;
}

.g-entry-content ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.g-entry-content ul ul,
.g-entry-content ul ol {
	margin-bottom: 0;
}

.g-entry-content ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.g-entry-content ol ul,
.g-entry-content ol ol {
	margin-bottom: 0;
}

.g-entry-content li {
	line-height: 1.6;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

.g-entry-content blockquote {
	background-color: #f8f8f8;
	background-image: url(../img/icon-blockquote1@2x.png), url(../img/icon-blockquote2@2x.png);
	background-position: left 10px top 10px, right 10px bottom 10px;
	background-repeat: no-repeat;
	background-size: 20px 16px, 20px 16px;
	line-height: 1.71429;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 36px 20px;
	position: relative;
}

.g-entry-content blockquote > :first-child {
	margin-top: 0;
}

.g-entry-content blockquote > :last-child {
	margin-bottom: 0;
}

.g-entry-content blockquote cite {
	display: block;
	font-size: 10px;
	font-style: normal;
	margin-top: 8px;
	text-align: right;
}

.g-entry-content blockquote a {
	color: #0066CC;
}

.g-entry-content blockquote a[target=_blank]::after {
	background: transparent url(../img/icon-target-blue@2x.png) no-repeat center center/contain;
	content: "";
	display: inline-block;
	height: 10px;
	margin-left: 3px;
	vertical-align: middle;
	width: 10px;
}

.g-entry-content q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.g-entry-content strong,
.g-entry-content em,
.g-entry-content b {
	font-style: normal;
	font-weight: 700;
}

.g-entry-content a {
	text-decoration: underline;
	transition: opacity 0.3s ease 0s;
}

.g-entry-content a:hover {
	color: #004cb2;
}

.g-entry-content img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.g-entry-content dl {
	margin-top: 1em;
}

.g-entry-content dt {
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 0.8em;
}

.g-entry-content var,
.g-entry-content code,
.g-entry-content kbd {
	background: #fee;
	color: #009F58;
	display: inline-block;
	font-style: normal;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: baseline;
}

.g-entry-content pre {
	margin-top: 1.2em;
	overflow: auto;
	padding: 1em;
	white-space: pre;
}

.g-entry-content pre code {
	background: #2d2d2d;
	color: #fff;
	margin: -1em;
	padding: 12px;
	position: relative;
}

.g-entry-content iframe,
.g-entry-content video,
.g-entry-content object {
	max-width: 100%;
}

.g-entry-content table {
	font-size: 10px;
	margin-bottom: 1em;
	margin-top: 1em;
	table-layout: fixed;
	width: 100%;
}

.g-entry-content table th,
.g-entry-content table td {
	border: 1px solid #ddd;
	padding: 6px 12px;
}

.g-entry-content table th {
	background: #009F58;
	color: #fff;
	font-weight: 700;
	text-align: center;
}

.g-entry-pagination {
	align-items: center;
	display: flex;
}

.g-entry-pagination a {
	color: #0066cc;
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-entry-pagination a:hover {
	color: #004cb2;
}

.g-entry-pagination__prev {
	margin-right: auto;
}

.g-entry-pagination__prev a::before {
	background: transparent url(../img/icon-entry-prev@2x.png) no-repeat center center/contain;
	content: "";
	display: inline-block;
	height: 10px;
	margin-right: 5px;
	width: 6px;
}

.g-entry-pagination__next {
	margin-left: auto;
}

.g-entry-pagination__next a::after {
	background: transparent url(../img/icon-entry-next@2x.png) no-repeat center center/contain;
	content: "";
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	width: 6px;
}

.g-fixed-line {
	background: #fff;
	border-top: 2px solid #106275;
	bottom: 0;
	display: flex;
	height: 60px;
	left: 0;
	padding: 6px 12px;
	position: fixed;
	width: 100%;
	z-index: 30;
}

.g-fixed-line__text {
	font-feature-settings: "palt";
	font-weight: 700;
	line-height: 1.17647;
	padding-top: 10px;
	white-space: nowrap;
}

.g-fixed-line__text .is-strong {
	color: #106275;
	font-size: 17px;
}

.g-fixed-line__text .is-plane {
	font-size: 14px;
}

.g-fixed-line__button {
	margin-left: auto;
	width: 170px;
}

.g-fixed-line__lead {
	align-items: center;
	background: #fff;
	border: 2px solid #106275;
	border-radius: 12px;
	color: #106275;
	display: flex;
	font-size: 11px;
	font-weight: 700;
	height: 25px;
	justify-content: center;
	left: 10px;
	padding: 0 10px;
	position: absolute;
	top: -12px;
}

.g-fixed-line__lead::after {
	background: transparent url(../img/icon-light@2x.png) no-repeat center center/contain;
	content: "";
	display: inline-block;
	height: 11px;
	margin-left: 1px;
	width: 9px;
}

.g-footer-nav {
	text-align: left;
}

.g-footer-nav__head {
	font-size: 16px;
	font-weight: 700;
}

.g-footer-nav__lists {
	list-style: none;
	margin: 12px 0 0;
	padding: 0 0 0 4px;
}

.g-footer-nav__lists li:nth-child(n + 2) {
	margin-top: 4px;
}

.g-footer-nav__lists li a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-footer-nav__lists li a::before {
	content: "-";
	margin-right: 0.5em;
}

.g-footer {
	background: #333;
	color: #fff;
	padding: 32px 20px 20px;
}

.g-footer__nav-items {
	display: flex;
	margin-top: 60px;
}

.g-footer__nav-item {
	width: 50%;
}

.g-footer__sns {
	margin-top: 60px;
}

.g-footer__copyright {
	margin-top: 32px;
}

.g-form-control__label {
	display: block;
	font-size: 14px;
	font-weight: 700;
}

.g-form-control__input {
	margin-top: 4px;
	width: 100%;
}

.g-news-link {
	color: inherit;
	display: block;
	padding: 12px 50px 12px 20px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-news-link::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.g-news-link::after {
	background: transparent url(../img/icon-arrow@2x.png) no-repeat center center/contain;
	height: 14px;
	right: 16px;
	transition: all 0.3s ease 0s;
	width: 8px;
}

.g-news-link:hover {
	color: #106275;
}

.g-news-link__published {
	color: #aaa;
	display: block;
	font-size: 10px;
	font-weight: 700;
}

.g-news-link__title {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	font-size: 14px;
	font-weight: 700;
	margin-top: 3px;
	overflow: hidden;
}

.g-news {
	padding: 10px 0 0;
}

.g-news__tab {
	border-bottom: 1px solid #ddd;
}

.g-news__prev,
.g-news__next {
	background: transparent url(../img/icon-tab-prev@2x.png) no-repeat center center/contain;
	cursor: pointer;
	display: none;
	height: 18px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 6px;
}

.g-news__prev {
	background-image: url(../img/icon-tab-prev@2x.png);
	left: 0;
}

.g-news__prev:hover {
	background-image: url(../img/icon-tab-prev-active@2x.png);
}

.g-news__next {
	background-image: url(../img/icon-tab-next@2x.png);
	right: 0;
}

.g-news__next:hover {
	background-image: url(../img/icon-tab-next-active@2x.png);
}

.g-pickup-entry {
	padding: 20px;
}

.g-pickup-entry__image {
	text-align: center;
}

.g-pickup-entry__image img {
	height: auto;
	max-width: 100%;
}

.g-pickup-entry__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	margin-top: 16px;
}

.g-pickup-entry__content {
	margin-top: 32px;
}

.g-ranking-link {
	color: inherit;
	display: block;
	padding: 12px 50px 12px 68px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-ranking-link:before,
.g-ranking-link::after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.g-ranking-link::before {
	background: transparent url(../img/icon-crown1@2x.png) no-repeat center center/contain;
	height: 28px;
	left: 20px;
	width: 35px;
}

.g-ranking-link::after {
	background: transparent url(../img/icon-arrow@2x.png) no-repeat center center/contain;
	height: 14px;
	right: 16px;
	transition: all 0.3s ease 0s;
	width: 8px;
}

.g-ranking-link:hover {
	color: #106275;
}

.g-ranking-link.is-first::before {
	background-image: url(../img/icon-crown1@2x.png);
}

.g-ranking-link.is-second::before {
	background-image: url(../img/icon-crown2@2x.png);
}

.g-ranking-link.is-third::before {
	background-image: url(../img/icon-crown3@2x.png);
}

.g-ranking-link.is-fourth::before {
	background-image: url(../img/icon-crown4@2x.png);
}

.g-ranking-link.is-fifth::before {
	background-image: url(../img/icon-crown5@2x.png);
}

.g-ranking-link.is-sixth::before {
	background-image: url(../img/icon-crown6@2x.png);
}

.g-ranking-link.is-seventh::before {
	background-image: url(../img/icon-crown7@2x.png);
}

.g-ranking-link.is-eighth::before {
	background-image: url(../img/icon-crown8@2x.png);
}

.g-ranking-link.is-ninth::before {
	background-image: url(../img/icon-crown9@2x.png);
}

.g-ranking-link.is-tenth::before {
	background-image: url(../img/icon-crown10@2x.png);
}

.g-ranking-link__title {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	font-size: 14px;
	font-weight: 700;
	overflow: hidden;
}

.g-ranking-link__content {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.g-ranking-link__data {
	align-items: center;
	display: flex;
	font-size: 10px;
	margin: 8px 16px 0 0;
	padding: 0;
}

.g-ranking-link__data dt {
	color: #009F58;
	margin: 0;
	padding: 0;
}

.g-ranking-link__data dd {
	color: #333;
	margin: 0;
	padding: 0;
}

.g-ranking-lists {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

.g-ranking-lists.active {
	display: block;
}

.g-ranking-lists__item {
	border-bottom: 1px solid #ddd;
}

.g-ranking {
	padding: 10px 0 0;
}

.g-ranking__prev,
.g-ranking__next {
	background: transparent url(../img/icon-tab-prev@2x.png) no-repeat center center/contain;
	cursor: pointer;
	display: none;
	height: 18px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 6px;
}

.g-ranking__prev {
	background-image: url(../img/icon-tab-prev@2x.png);
	left: 0;
}

.g-ranking__prev:hover {
	background-image: url(../img/icon-tab-prev-active@2x.png);
}

.g-ranking__next {
	background-image: url(../img/icon-tab-next@2x.png);
	right: 0;
}

.g-ranking__next:hover {
	background-image: url(../img/icon-tab-next-active@2x.png);
}

.g-relation-link {
	color: inherit;
	display: block;
	padding: 18px 50px 18px 20px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.g-relation-link::after {
	background: transparent url(../img/icon-arrow@2x.png) no-repeat center center/contain;
	content: "";
	height: 14px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 8px;
}

.g-relation-link:hover {
	color: #106275;
}

.g-relation-link__title {
	font-size: 14px;
	font-weight: 700;
}

.g-relation-link__content {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.g-relation-link__data {
	align-items: center;
	display: flex;
	font-size: 10px;
	margin: 8px 16px 0 0;
	padding: 0;
}

.g-relation-link__data dt {
	color: #009F58;
	margin: 0;
	padding: 0;
}

.g-relation-link__data dd {
	color: #333;
	margin: 0;
	padding: 0;
}

.g-relation-lists {
	list-style: none;
	margin: 0;
	padding: 0;
}

.g-relation-lists__item {
	border-bottom: 1px solid #ddd;
}

.g-scholarship-detail__head {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	font-weight: 700;
	margin: 0;
}

.g-scholarship-detail__head dt,
.g-scholarship-detail__head dd {
	margin: 0;
	padding: 0;
}

.g-scholarship-detail__head dt {
	color: #009F58;
}

.g-scholarship-detail__text {
	color: #888;
	font-size: 10px;
	line-height: 1.6;
	margin-top: 4px;
}

.g-scholarship-detail__text span {
	display: block;
}

.g-scholarship-entry {
	padding: 0 20px;
}

.g-scholarship-entry__title {
	font-size: 18px;
	line-height: 1.4;
	margin: 12px 0 0;
	padding: 0;
}

.g-scholarship-entry__title a {
	color: #106275;
	font-size: 18px;
	font-weight: 700;
	transition: all 0.3s ease 0s;
}

.g-scholarship-entry__title a::after {
	background: transparent url(../img/icon-target@2x.png) no-repeat center center/contain;
	content: "";
	display: inline-block;
	height: 14px;
	margin-left: 6px;
	width: 14px;
}

.g-scholarship-entry__title a:hover {
	color: #00485b;
}

.g-scholarship-entry__url {
	align-items: center;
	color: #888;
	display: flex;
	flex-wrap: wrap;
	font-size: 10px;
	margin: 5px 0 0;
	padding: 0;
}

.g-scholarship-entry__url dt,
.g-scholarship-entry__url dd {
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.g-scholarship-entry__url dd {
	line-height: 1.4;
	word-break: break-all;
}

.g-scholarship-entry__meta {
	display: none;
}

.g-scholarship-entry__meta > :nth-child(n + 2) {
	margin-left: 12px;
}

.g-scholarship-entry__content {
	margin-top: 20px;
}

.g-scholarship-table__dl {
	display: flex;
	margin: 0;
	padding: 0;
}

.g-scholarship-table__dl > dt,
.g-scholarship-table__dl > dd {
	font-size: 12px;
	font-weight: 700;
	margin: 0;
	padding: 10px 0;
}

.g-scholarship-table__dl > dt {
	background: #f8f8f8;
	border-top: 1px solid #009F58;
	line-height: 1.5;
	padding-left: 10px;
	padding-right: 10px;
	width: 100px;
}

.g-scholarship-table__dl > dd {
	border-top: 1px solid #ddd;
	padding-left: 20px;
	padding-right: 20px;
	width: calc(100% - 100px);
}

.g-scholarship-table__dl:last-child > dt {
	border-bottom: 1px solid #009F58;
}

.g-scholarship-table__dl:last-child > dd {
	border-bottom: 1px solid #ddd;
}

.g-scholarship-table__detail {
	color: #888;
	font-size: 10px;
	font-weight: 500;
	line-height: 1.4;
	margin: 6px 0 0;
}

.g-scholarship-table__detail:nth-of-type(n + 2) {
	margin-top: 6px;
}

.g-search-form {
	padding: 20px 10px 40px;
}

.g-search-form__control:nth-child(n + 2) {
	margin-top: 16px;
}

.g-search-form__button {
	margin-top: 16px;
	text-align: center;
}

.g-search-item-detail__row:nth-child(n + 2) {
	margin-top: 10px;
}

.g-search-item-detail__row.is-two-item {
	align-items: center;
	display: flex;
}

.g-search-item-detail__row.is-two-item > * {
	margin-right: 16px;
}

.g-search-item {
	border-bottom: 1px solid #ddd;
	color: inherit;
	display: block;
	padding: 0 16px;
	position: relative;
	text-decoration: none;
}

.g-search-item:hover {
	color: #106275;
}

.g-search-item__main {
	padding: 12px 52px 32px 0;
	position: relative;
}

.g-search-item__fav {
	position: absolute;
	right: 0;
	top: 12px;
	width: 46px;
}

.g-search-item__title {
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
}

.g-search-item__content {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.g-search-item__data {
	align-items: center;
	display: flex;
	font-size: 14px;
	font-weight: 700;
	margin: 8px 16px 0 0;
	padding: 0;
}

.g-search-item__data dt {
	color: #009F58;
	margin: 0;
	padding: 0;
}

.g-search-item__data dd {
	color: #333;
	margin: 0;
	padding: 0;
}

.g-search-item__accordion-main,
.g-search-item__accordion-detail {
	background: #f2f2f2 url(../img/icon-accordion-down@2x.png) no-repeat center center/10px 6px;
	bottom: 0;
	height: 20px;
	left: -16px;
	position: absolute;
	text-align: center;
	width: calc(100% + 16px * 2);
}

.g-search-item__accordion-main[aria-expanded="true"],
.g-search-item__accordion-detail[aria-expanded="true"] {
	background-image: url(../img/icon-accordion-up@2x.png);
}

.g-search-item__accordion-main {
	background: #f2f2f2 url(../img/icon-accordion-down@2x.png) no-repeat center center/10px 6px;
	bottom: 0;
	height: 20px;
	left: -16px;
	position: absolute;
	text-align: center;
	width: calc(100% + 16px * 2);
}

.g-search-item__accordion-main[aria-expanded="true"] {
	background-image: url(../img/icon-accordion-up@2x.png);
}

.g-search-item__detail {
	border-top: 1px solid #f2f2f2;
	padding-bottom: 32px;
	padding-top: 12px;
	position: relative;
}

.g-pagination {
	align-items: center;
	display: flex;
	justify-content: center;
}

.g-pagination__item {
	align-items: center;
	background: #F2F2F2;
	border-radius: 50%;
	color: #106275;
	display: inline-block;
	display: flex;
	font-size: 14px;
	font-weight: 700;
	height: 40px;
	justify-content: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 40px;
}

.g-pagination__item:nth-child(n + 2) {
	margin-left: 8px;
}

.g-pagination__item.is-current,
.g-pagination__item:hover {
	background: #106275;
	color: #fff;
}

.g-pagination__item.is-prev,
.g-pagination__item.is-next {
	background: none;
}

.g-search-terms-modal {
	background: #fff;
	position: relative;
}

.g-search-terms-modal__form {
	border: none;
	border-radius: 0;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.g-search-terms-modal__close {
	position: absolute;
	right: 12px;
	top: 8px;
}

.g-search-terms {
	align-items: center;
	border: 1px solid #106275;
	border-radius: 2px;
	display: flex;
	padding: 10px 12px;
}

.g-search-terms:hover a {
	color: #106275;
}

.g-search-terms__data {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	font-size: 10px;
	line-height: 1.6;
	overflow: hidden;
	width: calc(100% - 64px);
}

.g-search-terms__link {
	margin-left: auto;
	width: 52px;
}

.g-search-terms__link a {
	color: #106275;
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	line-height: 1.2;
	padding-right: 12px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
}

.g-search-terms__link a[role="button"] {
	color: #106275;
}

.g-search-terms__link a::after {
	background: transparent url(../img/icon-search-arrow@2x.png) no-repeat center center/contain;
	content: "";
	height: 10px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 6px;
}

.g-search-terms__link a:hover {
	color: #00485b;
}

.g-search-terms__modal {
	background: #fff;
}

.g-sns-links {
	align-items: center;
	display: flex;
	justify-content: center;
}

.g-sns-links__item:nth-child(n + 2) {
	margin-left: 32px;
}

.g-sns-links__item a {
	color: #fff;
	text-decoration: none;
}

.g-tab {
	-ms-overflow-style: none;
	border: none;
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	margin: 0;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 0;
	position: relative;
	scrollbar-width: none;
}

.g-tab::-webkit-scrollbar {
	display: none;
}

.g-tab__item {
	white-space: nowrap;
}

.g-tab__item:nth-child(n + 2) {
	margin-left: 2px;
}

.g-tab__item a {
	align-items: center;
	background: #aaa;
	border-radius: 4px 4px 0 0;
	color: #fff;
	display: flex;
	font-size: 10px;
	font-weight: 700;
	height: 34px;
	justify-content: center;
	line-height: 1.2;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	white-space: nowrap;
}

.g-tab__item a:hover {
	background-color: #106275;
}

.g-tab__item a.active {
	background-color: #106275;
	padding-left: 16px;
	padding-right: 16px;
}

.g-tag-link {
	align-items: center;
	color: inherit;
	display: flex;
	padding: 4px 16px 4px 4px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.g-tag-link::after {
	background: url(../img/icon-arrow@2x.png) center center/contain;
	content: "";
	height: 14px;
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 8px;
}

.g-tag-link:hover {
	color: #106275;
}

.g-tag-link__img {
	text-align: center;
	width: 52px;
}

.g-tag-link__text {
	font-size: 12px;
	font-weight: 700;
	line-height: 1.5;
	padding-left: 8px;
	width: calc(100% - 52px);
}

.g-tag-links {
	display: flex;
	flex-wrap: wrap;
}

.g-tag-links__item {
	border-bottom: 1px solid #ddd;
	width: 50%;
}

.g-tag-links__item:nth-child(2n + 1) {
	border-right: 1px solid #ddd;
}

.g-terms-card {
	background: #fff;
	border-radius: 4px;
}

.g-terms-card__head {
	align-items: center;
	border-bottom: 1px solid #ddd;
	display: flex;
	padding: 8px 10px;
}

.g-terms-card__date {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
}

.g-terms-card__close {
	-webkit-appearance: none;
	background-color: transparent;
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	margin: 0 0 0 auto;
	padding: 0;
	text-decoration: none;
}

.g-terms-card__body {
	padding: 16px 10px;
}

.g-terms-card__body-head {
	font-size: 13px;
	font-weight: 700;
}

.g-terms-card__content {
	font-size: 12px;
	line-height: 1.5;
	margin-top: 3px;
	word-break: break-all;
}

.g-terms-card__button {
	margin-top: 14px;
	text-align: center;
}

.u-color-red {
	color: #FF4444;
}

.u-font-small {
	font-size: 10px;
}

@media (min-width: 768px) {

body {
	padding-bottom: 0;
	padding-top: 60px;
}

.g-check span {
	border: none;
	border-radius: 0;
	color: #333;
	font-weight: 700;
	height: auto;
	padding-left: 22px;
	padding-right: 0;
}

.g-check [type=checkbox] {
	background: #fff;
	border: 1px solid #ddd;
	left: 0;
}

.g-check [type=checkbox]:checked + span {
	background-color: transparent;
	border-color: transparent;
	color: #333;
}

.g-entry-tag {
	font-size: 13px;
	padding: 5px 16px 4px;
}

.g-share-fixed-button {
	display: none;
}

.g-header {
	padding-left: 0;
	padding-right: 0;
}

.g-header__nav {
	align-items: center;
	display: flex;
}

.g-header__terms {
	display: block;
	margin-left: 32px;
}

.g-header__favorite {
	margin-left: 32px;
}

.g-header__drawer-button {
	display: none;
}

.g-inner {
	padding-left: 24px;
	padding-right: 24px;
}

.g-page-archive__inner {
	width: 894px;
}

.g-page-archive__pagination {
	margin-top: 40px;
}

.g-page-blog__inner {
	width: 792px;
}

.g-page-blog__share {
	display: block;
}

.g-page-detail__inner {
	width: 768px;
}

.g-page-pickup__inner {
	width: 832px;
}

.g-page-terms__inner {
	-ms-grid-columns: 1fr 282px;
	-ms-grid-rows: auto;
	-moz-column-gap: 40px;
	column-gap: 40px;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 1fr 282px;
	grid-template-rows: auto;
	row-gap: 40px;
	width: 1020px;
}

.g-page-terms__main {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.g-page-terms__content {
	padding-left: 0;
	padding-right: 0;
}

.g-page-terms__form {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	margin-top: 0;
}

.g-page-terms__form-content {
	padding: 0 10px 20px;
}

.p-page {
	padding-bottom: 80px;
	padding-top: 32px;
}

.g-radios__item {
	margin-right: 12px;
	margin-top: 10px;
	width: auto;
}

.g-radios__item:not(:nth-child(2n + 1)) {
	margin-left: 0;
}

.g-radios__item:nth-child(n + 3) {
	margin-top: 10px;
}

.g-page-search {
	padding-bottom: 40px;
}

.g-page-search__inner {
	-ms-grid-columns: 1fr 282px;
	-ms-grid-rows: auto;
	-moz-column-gap: 40px;
	column-gap: 40px;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 1fr 282px;
	grid-template-rows: auto;
	row-gap: 40px;
	width: 1020px;
}

.g-page-search__main {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.g-page-search__terms {
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.g-page-search__filter {
	padding-left: 0;
	padding-right: 0;
}

.g-page-search__form {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	margin-top: 0;
}

.g-page-search__pagination {
	margin-top: 40px;
}

.g-terms-cards {
	display: flex;
	flex-wrap: wrap;
}

.g-terms-cards__item:nth-child(n + 2) {
	margin-top: 0;
}

.g-terms-cards__item {
	width: calc(50% - 20px / 2);
}

.g-terms-cards__item:nth-child(n + 3) {
	margin-top: 20px;
}

.g-terms-cards__item:not(:nth-child(2n + 1)) {
	margin-left: 20px;
}

.g-top {
	padding-bottom: 80px;
	padding-top: 32px;
}

.g-top__banner {
	display: none;
}

.g-about-card__head {
	font-size: 24px;
}

.g-archive-items {
	display: flex;
	flex-wrap: wrap;
}

.g-archive-items__card {
	border-bottom: none;
	width: calc(33.3% - 24px * 2 / 3);
}

.g-archive-items__card:not(:nth-child(3n + 1)) {
	margin-left: 24px;
}

.g-archive-items__card:nth-child(n + 4) {
	margin-top: 24px;
}

.g-blog-card {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	padding: 0;
}

.g-blog-card__img {
	width: 100%;
}

.g-blog-card__body {
	padding: 12px 14px;
	width: 100%;
}

.g-blog-entry__title {
	font-size: 32px;
	margin-top: 26px;
}

.g-blog-entry__tag {
	margin-top: 20px;
}

.g-blog-entry__meta {
	margin-top: 16px;
}

.g-blog-entry__published,
.g-blog-entry__updated {
	font-size: 14px;
}

.g-blog-entry__share {
	display: block;
}

.g-blog-large-card {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	padding: 0;
}

.g-blog-large-card__figure {
	padding-top: 75%;
}

.g-blog-large-card__body {
	background: none;
	color: #333;
	padding: 12px 14px;
	position: static;
	transform: none;
	width: 100%;
}

.g-blog-large-card__time {
	color: #aaa;
}

.g-blog-large-card__tag {
	color: #009F58;
}

.g-column-links {
	padding-top: 20px;
}

.g-column-links__item {
	width: calc(33.3% - 24px * 2 / 3);
}

.g-column-links__item:not(:nth-child(3n + 1)) {
	margin-left: 24px;
}

.g-column-links__item:nth-child(n + 4) {
	margin-top: 24px;
}

.g-entry-content h2 {
	font-size: 24px;
}

.g-entry-content h3 {
	font-size: 20px;
}

.g-entry-content h4 {
	font-size: 16px;
}

.g-entry-pagination a {
	font-size: 14px;
}

.g-fixed-line {
	border: 2px solid #106275;
	border-radius: 8px 0 0 0;
	display: block;
	height: auto;
	left: auto;
	padding: 20px 10px 8px;
	right: -2px;
	width: 190px;
}

.g-fixed-line__text {
	text-align: center;
}

.g-fixed-line__button {
	margin-left: 0;
	margin-top: 6px;
	text-align: center;
}

.g-footer-nav__lists {
	display: flex;
	flex-wrap: wrap;
}

.g-footer-nav__lists li {
	width: 50%;
}

.g-footer-nav__lists li:nth-child(n + 2) {
	margin-top: 0;
}

.g-footer-nav__lists li:nth-child(n + 3) {
	margin-top: 12px;
}

.g-footer {
	padding-bottom: 20px;
	padding-top: 60px;
}

.g-footer__inner {
	width: 620px;
}

.g-footer__nav-items {
	justify-content: center;
}

.g-footer__nav-item {
	width: calc(50% - 40px * 1 / 2);
}

.g-footer__nav-item:nth-child(n + 2) {
	margin-left: 40px;
}

.g-footer__sns {
	margin-top: 60px;
}

.g-form-control__input {
	margin-top: 8px;
}

.g-form-control__input.is-radio {
	margin-top: 0;
}

.g-news-link {
	align-items: center;
	display: flex;
	padding: 16px 50px 16px 8px;
}

.g-news-link__published {
	width: 82px;
}

.g-news-link__title {
	-webkit-line-clamp: 1;
	margin-top: 0;
	width: calc(100% - 82px);
}

.g-news {
	padding-top: 20px;
}

.g-news__tab {
	padding: 0;
	position: relative;
}

.g-news__prev,
.g-news__next {
	display: block;
}

.g-pickup-entry {
	padding-bottom: 40px;
	padding-top: 32px;
}

.g-pickup-entry__title {
	font-size: 32px;
	line-height: 1.5;
	margin-top: 28px;
}

.g-ranking {
	padding-top: 20px;
}

.g-scholarship-entry {
	padding-left: 0;
	padding-right: 0;
}

.g-scholarship-entry__meta {
	align-items: center;
	display: flex;
	margin-top: 10px;
}

.g-search-form {
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.g-search-item {
	padding-left: 20px;
	padding-right: 20px;
}

.g-search-item__accordion-main,
.g-search-item__accordion-detail {
	left: -20px;
	width: calc(100% + 20px * 2);
}

.g-search-terms__data {
	-webkit-line-clamp: 3;
	font-size: 12px;
}

.g-tag-links__item:nth-child(2n + 1) {
	border-right: none;
}

.g-tag-links__item {
	width: 100%;
}

.g-hidden-md {
	display: none;
}

}

@media (min-width: 768px) and (-ms-high-contrast: active), screen and (min-width: 768px) and (-ms-high-contrast: none) {

.g-page-terms__form {
	margin-left: 40px;
}

.g-page-search__form {
	margin-left: 40px;
}

}

@media (min-width: 992px) {

.g-top__inner {
	-moz-column-gap: 24px;
	-ms-grid-columns: 200px minmax(0, 1fr) 282px;
	column-gap: 24px;
	display: -ms-grid;
	display: grid;
	grid-template-columns: 200px minmax(0, 1fr) 282px;
	row-gap: 40px; /* 420px */
}

.g-top__area1 {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.g-top__area3 {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.g-top__area4 {
	-ms-grid-column: 3;
	-ms-grid-column-span: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	grid-column: 3 / 4;
	grid-row: 1 / 3;
}

.g-top__pickup,
.g-top__search {
	margin-top: 0;
}

.g-demo .g-top__pickup,
.g-demo .g-top__search {
	margin-top: 0;
}

}

@media (min-width: 992px) and (-ms-high-contrast: active), screen and (min-width: 992px) and (-ms-high-contrast: none) {

.g-top__area1 {
	margin-left: 24px;
	margin-right: 24px;
}

.g-top__area3 {
	margin-left: 24px;
	margin-right: 24px;
}

}

@media (min-width: 1200px) {

.g-inner {
	padding-left: 0;
	padding-right: 0;
}

.g-top__inner {
	-ms-grid-columns: 282px 588px 282px;
	-ms-grid-rows: auto auto;
	grid-template-columns: 282px 588px 282px;
	grid-template-rows: auto auto;
}

.g-top__area2 {
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.g-ranking__tab {
	padding: 0 14px;
	position: relative;
}

.g-ranking__prev,
.g-ranking__next {
	display: block;
}

}

