<%- include( '../common/_html-open' ) %>
<%- include( '../common/_meta',
{
	title: 'タイトル',
	description: 'ディスクリプション',
	keyword: 'キーワード1,キーワード2',
} ) %>
<%- include( '../common/_style' ) %>
<%- include( '../common/_body' ) %>
<%- include ( '../common/_header', { tag: 'div' } ) %>

<div class="g-breadcrumb">
	<div class="g-inner g-breadcrumb__inner">
		<div class="g-breadcrumb__items">
			<div class="g-breadcrumb__item"><a href="/">ガクシー TOP</a></div>
			<div class="g-breadcrumb__item"><a href="/search/">奨学金検索結果一覧</a></div>
			<div class="g-breadcrumb__item"><span>奨学金詳細</span></div>
		</div><!-- /g-breadcrumb__items -->
	</div><!-- /g-breadcrumb__inner -->
</div><!-- /g-breadcrumb -->

<div class="g-page-detail p-page">
	<div class="g-page-detail__inner g-inner">
		<h1 class="g-heading">小樽商科大学</h1>
		<div class="g-scholarship-entry">
			<div class="g-scholarship-entry__title"><a href="" target="_blank">佐野力海外留学奨励金テキストテキストテキストテキストテキストテキスト</a></div>
			<dl class="g-scholarship-entry__url">
				<dt>URL：</dt>
				<dd>https://www.otaru-uc.ac.jp/international/sano_scholarship/</dd>
			</dl>
			<div class="g-scholarship-entry__meta">
				<a class="g-button-fav" href="">お気に入り追加</a>
				<a class="g-button-share" href="">この情報を共有する</a>
			</div>
			<div class="g-scholarship-entry__content g-scholarship-table">
				<dl class="g-scholarship-table__dl">
					<dt>対象</dt>
					<dd>大学</dd>
				</dl>
				<dl class="g-scholarship-table__dl">
					<dt>エリア</dt>
					<dd>北海道</dd>
				</dl>
				<dl class="g-scholarship-table__dl">
					<dt>制度</dt>
					<dd>奨学金給付</dd>
				</dl>
				<dl class="g-scholarship-table__dl">
					<dt>申込み時期</dt>
					<dd>入学後</dd>
				</dl>
				<dl class="g-scholarship-table__dl">
					<dt>支給人数</dt>
					<dd>100人
						<div class="g-scholarship-table__detail">※大学・大学院合わせて、全学年合計</div>
					</dd>
				</dl>
				<dl class="g-scholarship-table__dl">
					<dt>金額</dt>
					<dd>
						総額：60万円
						<div class="g-scholarship-table__detail">支給額：</div>
						<div class="g-scholarship-table__detail">支給期間：</div>
					</dd>
				</dl>
				<dl class="g-scholarship-table__dl">
					<dt>成績制限</dt>
					<dd>あり
						<div class="g-scholarship-table__detail">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
					</dd>
				</dl>
				<dl class="g-scholarship-table__dl">
					<dt>所得制限</dt>
					<dd>あり
						<div class="g-scholarship-table__detail">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
					</dd>
				</dl>
				<dl class="g-scholarship-table__dl">
					<dt>募集対象</dt>
					<dd>専攻分野の制限なし
						<div class="g-scholarship-table__detail">【対象の詳細】<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
						<div class="g-scholarship-table__detail">【資格・条件】<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
					</dd>
				</dl>
				<dl class="g-scholarship-table__dl">
					<dt>スケジュール</dt>
					<dd>申込み期間：<br>2021.00.00 〜 2021.00.00
						<div class="g-scholarship-table__detail">【詳細】<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
					</dd>
				</dl>
				<dl class="g-scholarship-table__dl">
					<dt>その他</dt>
					<dd>テキストが入ります。テキストが入ります。
						<div class="g-scholarship-table__detail">【テキストが入ります】<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
					</dd>
				</dl>
			</div><!-- /g-scholarship-entry__content -->
		</div><!-- /g-scholarship-entry -->
		<div class="g-page-detail__relation">
			<h2 class="g-heading">類似の奨学金一覧</h2>
			<%- include( '../common/relation/_links' ) %>
		</div><!-- /g-scholarship-entry__relation -->
	</div><!-- /g-page-detail__inner -->
</div><!-- /g-page-detail -->


<div class="g-share-fixed-button">
	<div class="g-share-fixed-button__item"><a href="" class="g-button-fav-sp" role="button"></a></div>
	<div class="g-share-fixed-button__item"><a href="" class="g-button-share-sp" role="button"></a></div>
</div><!-- /g-share-fixed-button -->
<%- include ( '../common/_footer' ) %>
<%- include ( '../common/_script' ) %>
<%- include ( '../common/_html-close' ) %>
