<%- include( '../common/_html-open' ) %>
<%- include( '../common/_meta',
{
	title: 'タイトル',
	description: 'ディスクリプション',
	keyword: 'キーワード1,キーワード2',
} ) %>
<%- include( '../common/_style' ) %>
<%- include( '../common/_body' ) %>
<%- include ( '../common/_header', { tag: 'div' } ) %>

<div class="g-breadcrumb">
	<div class="g-inner g-breadcrumb__inner">
		<div class="g-breadcrumb__items">
			<div class="g-breadcrumb__item"><a href="/">ガクシー TOP</a></div>
			<div class="g-breadcrumb__item"><span>奨学金検索結果一覧</span></div>
		</div><!-- /g-breadcrumb__items -->
	</div><!-- /g-breadcrumb__inner -->
</div><!-- /g-breadcrumb -->

<div class="g-page-search p-page">
	<div class="g-inner g-page-search__inner">
		<div class="g-page-search__main">
			<div class="g-page-search__terms">
				<div class="g-search-terms" role="button" data-bs-toggle="modal" data-bs-target="#search-form-modal">
					<div class="g-search-terms__data">大学/専門学校 | 東京都 | 奨学金/入学金/入学料減免 | 学校出願時/入学手続き時 | ○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○/○○○○//専門学校 | 東京都 | 奨学金/入学金/入学料減免 | 学校出願時/入学手続き時 | ○○○○/○○○○/…</div><!-- /g-search-terms__data -->
					<div class="g-search-terms__link">
						<a>検索条件<br>変更</a>
					</div><!-- /g-search-terms__link -->
				</div><!-- /g-search-terms -->
			</div><!-- /g-page-search__terms -->
			<div class="g-page-search__filter g-search-filters">
				<div class="g-search-filters__left">
					<a class="g-button-save" href="">検索条件を保存</a><!-- /g-button-save -->
				</div><!-- /g-search-filters__left -->
				<div class="g-search-filters__right">
					<select class="g-select-filter">
						<option value="">おすすめ順</option>
						<option value="">option2</option>
						<option value="">option3</option>
					</select><!-- /g-select-filter -->
				</div><!-- /g-search-filters__right -->
			</div><!-- /g-page-search__filter -->
			<div class="g-page-search__result">
				<h1 class="g-heading">奨学金検索結果一覧(100件)</h1>
				<%- include ( './search-item/_items' ) %>
				<div class="g-page-search__pagination g-pagination">
					<a class="g-pagination__item is-prev" href=""><img src="/assets/img/icon-prev@2x.png" alt="" width="8" height="14"></a>
					<a class="g-pagination__item" href="">1</a>
					<span class="g-pagination__item is-current" href="">2</span>
					<a class="g-pagination__item" href="">3</a>
					<a class="g-pagination__item" href="">4</a>
					<a class="g-pagination__item" href="">5</a>
					<a class="g-pagination__item is-prev" href=""><img src="/assets/img/icon-next@2x.png" alt="" width="8" height="14"></a>
				</div><!-- /g-page-search__pagination -->
			</div><!-- /g-page-search__result -->
		</div><!-- /g-page-search__main -->
		<div class="g-page-search__form">
			<h2 class="g-heading">条件から探す</h2>
			<%- include ( '../common/search/_search-form' ) %>
		</div><!-- /g-page-search__form -->
	</div><!-- /g-page-search__inner -->

</div><!-- /g-page-search -->

<div id="search-form-modal" class="modal fade" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true" role="dialog" aria-modal="true">
	<div class="g-search-terms-modal modal-dialog">
		<div id="modal-label" class="g-heading">検索条件を変更する</div>
		<div class="g-search-terms-modal__form modal-content">
		<%- include ( '../common/search/_search-form' ) %>
		</div>
		<a class="g-search-terms-modal__close" role="button" data-bs-dismiss="modal"><img src="/assets/img/icon-close@2x.png" alt="閉じる" width="16" height="16"></a>
	</div>
</div>

<%- include ( '../common/_footer' ) %>
<%- include ( '../common/_script' ) %>
<%- include ( '../common/_html-close' ) %>
