<div id="search-detail<%= no %>" class="g-search-item__detail g-search-item-detail collapse">
	<div class="g-search-item-detail__row is-two-item">
		<div class="g-scholarship-detail">
			<dl class="g-scholarship-detail__head">
				<dt>対象：</dt>
				<dd>大学</dd>
			</dl>
		</div><!-- /g-scholarship-detail -->
		<div class="g-scholarship-detail">
			<dl class="g-scholarship-detail__head">
				<dt>エリア：</dt>
				<dd>北海道</dd>
			</dl>
		</div><!-- /g-scholarship-detail -->
	</div>
	<div class="g-search-item-detail__row is-two-item">
		<div class="g-scholarship-detail">
			<dl class="g-scholarship-detail__head">
				<dt>制度：</dt>
				<dd>奨学金給付</dd>
			</dl>
		</div><!-- /g-scholarship-detail -->
		<div class="g-scholarship-detail">
			<dl class="g-scholarship-detail__head">
				<dt>申込み時期：</dt>
				<dd>入学後</dd>
			</dl>
		</div><!-- /g-scholarship-detail -->
	</div>
	<div class="g-search-item-detail__row is-two-item">
		<div class="g-scholarship-detail">
			<dl class="g-scholarship-detail__head">
				<dt>支給人数：</dt>
				<dd>100人</dd>
			</dl>
		</div><!-- /g-scholarship-detail -->
		<div class="u-color-red u-font-small">※大学・大学院合わせて、全学年合計</div>
	</div>
	<div class="g-search-item-detail__row">
		<div class="g-scholarship-detail">
			<dl class="g-scholarship-detail__head">
				<dt>金額：</dt>
				<dd>総額60万円</dd>
			</dl>
			<div class="g-scholarship-detail__text">【支給額】6万円 【支給期間】入学3ヶ月後〜</div>
		</div><!-- /g-scholarship-detail -->
	</div>
	<div class="g-search-item-detail__row">
		<div class="g-scholarship-detail">
			<dl class="g-scholarship-detail__head">
				<dt>成績制限：</dt>
				<dd>あり</dd>
			</dl>
			<div class="g-scholarship-detail__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
		</div><!-- /g-scholarship-detail -->
	</div>
	<div class="g-search-item-detail__row">
		<div class="g-scholarship-detail">
			<dl class="g-scholarship-detail__head">
				<dt>所得制限：</dt>
				<dd>あり</dd>
			</dl>
			<div class="g-scholarship-detail__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
		</div><!-- /g-scholarship-detail -->
	</div>
	<div class="g-search-item-detail__row">
		<div class="g-scholarship-detail">
			<dl class="g-scholarship-detail__head">
				<dt>募集対象：</dt>
				<dd>専攻分野の制限なし</dd>
			</dl>
			<div class="g-scholarship-detail__text">【対象の詳細】<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
			<div class="g-scholarship-detail__text">【資格・条件】<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
		</div><!-- /g-scholarship-detail -->
	</div>
	<div class="g-search-item-detail__row">
		<div class="g-scholarship-detail">
			<dl class="g-scholarship-detail__head">
				<dt>申込み期間：</dt>
				<dd>2021.00.00 〜 2021.00.00</dd>
			</dl>
			<div class="g-scholarship-detail__text">【詳細】<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
		</div><!-- /g-scholarship-detail -->
	</div>
	<div class="g-search-item-detail__row">
		<div class="g-scholarship-detail">
			<dl class="g-scholarship-detail__head">
				<dt>その他：</dt>
				<dd>テキストが入ります。テキストが入ります。</dd>
			</dl>
			<div class="g-scholarship-detail__text">【テキストが入ります】<br>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</div>
		</div><!-- /g-scholarship-detail -->
	</div>

	<div class="g-search-item__accordion-detail" role="button" data-bs-toggle="collapse" data-bs-target="#search-detail<%= no %>" aria-expanded="false" aria-controls="search-detail<%= no %>"></div>
</div><!-- /g-search-item__detail -->
