<div class="g-search-item">
	<div class="g-search-item__main">
		<div class="g-search-item__title" data-bs-toggle="collapse" data-bs-target="#search-detail<%=no %>" aria-expanded="false" aria-controls="search-detail<%= no %>">○○○○大学 - 海外留学支援制度テキストテキストテキストテキストテキ…</div>
		<dl class="g-search-item__content">
			<div class="g-search-item__data">
				<dt>支給人数：</dt>
				<dd>10人</dd>
			</div>
			<div class="g-search-item__data">
				<dt>支給総額：</dt>
				<dd>1,000,000円</dd>
			</div>
			<div class="g-search-item__data">
				<dt>奨学金の種類：</dt>
				<dd>貸与(利子あり)</dd>
			</div>
		</dl>
		<div class="g-search-item__fav">
			<a class="g-search-favorite" role="button" href=""></a><!-- /g-search-favorite -->
		</div><!-- /g-search-item__fav -->
		<div class="g-search-item__accordion-main" role="button" data-bs-toggle="collapse" data-bs-target="#search-detail<%= no %>" aria-expanded="false" aria-controls="search-detail<%= no %>"></div>
	</div><!-- /g-search-item__main -->

	<%- include ( './_detail', { no: no} ) %>
</div><!-- /g-search-item -->
