<ul class="g-relation-lists">
	<li class="g-relation-lists__item">
		<%- include( './_link', { title: '総合ランキング' } ) %>
	</li>
	<li class="g-relation-lists__item">
		<%- include( './_link', { title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-relation-lists__item">
		<%- include( './_link', { title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-relation-lists__item">
		<%- include( './_link', { title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-relation-lists__item">
		<%- include( './_link', { title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-relation-lists__item">
		<%- include( './_link', { title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-relation-lists__item">
		<%- include( './_link', { title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-relation-lists__item">
		<%- include( './_link', { title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-relation-lists__item">
		<%- include( './_link', { title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
	<li class="g-relation-lists__item">
		<%- include( './_link', { title: '○○○○大学 - 海外留学支援制度' } ) %>
	</li>
</ul><!-- /g-relation-lists -->
