.g-about-card {
	text-align: center;
}

.g-about-card__head {
	font-weight: 700;
	font-size: 16px;

	@include mq('md') {
		font-size: 24px;
	}
}

.g-about-card__text {
	margin-top: 16px;
	line-height: (24 / 14);
	font-size: 14px;
}
