.g-archive-items {

	@include mq('md') {
		display: flex;
    flex-wrap: wrap;
	}
}

.g-archive-items__card {
	border-bottom: 1px solid #ddd;

	@include mq('md') {
		width: calc(33.3% - 24px * 2 / 3);
		border-bottom: none;

		&:not(:nth-child(3n + 1)) {
			margin-left: 24px;
		}

		&:nth-child(n + 4) {
			margin-top: 24px;
		}
	}

	&.is-no-border {
		border-bottom: none;
	}
}
