.g-blog-large-card {
	padding: 0 20px;
	display: block;
	color: inherit;
	transition: all 0.5s ease 0s;
	text-decoration: none;
	font-weight: 700;
	position: relative;

	@include mq('md') {
		box-shadow: 0 3px 6px rgba(#000, 0.16);
		padding: 0;
	}

	&:hover {
		color: $color-accent;
	}
}

.g-blog-large-card__img {
	width: 100%;
}

.g-blog-large-card__figure {
	width: 100%;
	padding: 209 / 334 * 100% 0 0;
	position: relative;
	overflow: hidden;
	margin: 0;

	@include mq('md') {
		padding-top: 135 / 180 * 100%;
	}

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		transition: all 0.5s ease 0s;
	}
}

.g-blog-large-card__body {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 20px * 2);
	padding: 10px;
	color: #fff;
	background: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 1));

	@include mq('md') {
		position: static;
		padding: 12px 14px;
		background: none;
		color: $color-text;
		width: 100%;
		transform: none;
	}
}

.g-blog-large-card__title {
	font-size: 14px;
	line-height: (20 / 14);
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.g-blog-large-card__meta {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 3px;
}

.g-blog-large-card__time {
	display: inline-block;
	color: #fff;
	font-size: 10px;
	font-weight: 700;
	margin-top: 3px;

	@include mq('md') {
		color: #aaa;
	}
}

.g-blog-large-card__tag {
	border: 1px solid $color-main;
	background: #fff;
	color: $color-main;
	border-radius: 15px;
	padding: 4px 8px;
	line-height: 1;
	font-size: 10px;
	display: inline-block;
	margin-left: 12px;
	margin-top: 3px;

	@include mq('md') {
		color: $color-main;
	}

	&::before {
		content: "#";
		margin-left: 2px;
		color: $color-main;
		display: inline-block;
	}
}
