.g-blog-card {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-decoration: none;
	transition: all 0.5s ease 0s;
	color: inherit;
	font-weight: 700;
	padding: 14px 20px;

	@include mq('md') {
		padding: 0;
		box-shadow: 0 3px 6px rgba(#000, 0.16);
	}

	&:hover {
		color: $color-accent;
	}
}

.g-blog-card__img {
	width: 100px;

	@include mq('md') {
		width: 100%;
	}
}

.g-blog-card__figure {
	width: 100%;
	padding: 135 / 180 * 100% 0 0;
	position: relative;
	overflow: hidden;
	margin: 0;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		transition: all 0.5s ease 0s;
	}
}

.g-blog-card__body {
	width: calc(100% - 100px);
	padding-left: 12px;

	@include mq('md') {
		width: 100%;
		padding: 12px 14px;
	}
}

.g-blog-card__title {
	font-size: 14px;
	line-height: (20 / 14);
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.g-blog-card__meta {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 3px;
}

.g-blog-card__time {
	display: inline-block;
	color: #aaa;
	font-size: 10px;
	font-weight: 700;
	margin-top: 3px;
}

.g-blog-card__tag {
	margin-left: 12px;
	margin-top: 3px;
}
