.g-blog-entry__image {
	text-align: center;

	img {
		max-width: 100%;
		height: auto;
	}
}

.g-blog-entry__title {
	margin-top: 18px;
	font-weight: 700;
	font-size: 20px;
	line-height: (28 / 20);

	@include mq('md') {
		font-size: 32px;
		margin-top: 26px;
	}
}

.g-blog-entry__tag {
	margin-top: 14px;

	@include mq('md') {
		margin-top: 20px;
	}
}

.g-blog-entry__meta {
	display: flex;
	align-items: center;
	margin-top: 10px;

	@include mq('md') {
		margin-top: 16px;
	}
}

.g-blog-entry__published,
.g-blog-entry__updated {
	font-size: 12px;
	line-height: 1;
	color: $color-main;
	position: relative;
	padding-left: 16px;

	@include mq('md') {
		font-size: 14px;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 12px;
		height: 12px;
		background: transparent url(../img/icon-published@2x.png) no-repeat center center / contain;
	}
}

.g-blog-entry__published {
	&::before {
		background-image: url(../img/icon-published@2x.png);
	}
}

.g-blog-entry__updated {
	margin-left: 20px;

	&::before {
		background-image: url(../img/icon-updated@2x.png);
	}
}

.g-blog-entry__share {
	margin-left: auto;
	display: none;

	@include mq('md') {
		display: block;
	}
}

.g-blog-entry__content {
	margin-top: 36px;
}
