.g-breadcrumb {
	padding: 8px 20px;
	background: #f2f2f2;
	overflow: auto;
}

.g-breadcrumb__items {
	display: flex;
	align-items: center;
}

.g-breadcrumb__item {
	position: relative;

	&:nth-child(n + 2) {
		margin-left: 21px;

		&::after {
			content: "";
			width: 5px;
			height: 6px;
			background: transparent url(../img/icon-bridge@2x.png) no-repeat center center / contain;
			position: absolute;
			right: calc(100% + 8px);
			top: 50%;
			transform: translateY(-50%);
		}
	}

	a,
	span {
		font-size: 10px;
		color: #0066cc;
		white-space: nowrap;
		display: block;
		line-height: 1;
	}

	a {
		text-decoration: none;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: 0.6;
		}
	}

	span {

	}
}
