.g-category-link {
	display: block;
  text-decoration: none;
  position: relative;
  padding: 12px 50px 12px 20px;
  color: inherit;
	transition: all 0.3s ease 0s;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    width: 8px;
    height: 14px;
    background: transparent url(../img/icon-arrow@2x.png) no-repeat center center / contain;
    right: 16px;
		transition: all 0.3s ease 0s;
  }

	&:hover {
		color: $color-accent;
	}
}

.g-category-link__title {
	font-weight: 700;
	font-size: 14px;
	margin-top: 3px;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
