.g-column-links {
	display: flex;
	flex-wrap: wrap;

	@include mq('md') {
		padding-top: 20px;
	}
}

.g-column-links__item {
	width: 100%;
	border-bottom: 1px solid #ddd;

	@include mq('md') {
		width: calc(33.3% - 24px * 2 / 3);

		&:not(:nth-child(3n + 1)) {
			margin-left: 24px;
		}


		&:nth-child(n + 4) {
			margin-top: 24px;
		}
	}
}
