.g-entry-pagination {
	display: flex;
	align-items: center;

	a {
		font-size: 12px;
		color: #0066cc;
		text-decoration: none;
		font-weight: 700;
		transition: all 0.3s ease 0s;

		@include mq('md') {
			font-size: 14px;
		}

		&:hover {
			color: #004cb2;
		}
	}
}

.g-entry-pagination__prev {
	margin-right: auto;

	a {
		&::before {
			content: "";
			width: 6px;
			height: 10px;
			background: transparent url(../img/icon-entry-prev@2x.png) no-repeat center center / contain;
			display: inline-block;
			margin-right: 5px;
		}
	}
}

.g-entry-pagination__home {
}

.g-entry-pagination__next {
	margin-left: auto;

	a {
		&::after {
			content: "";
			width: 6px;
			height: 10px;
			background: transparent url(../img/icon-entry-next@2x.png) no-repeat center center / contain;
			display: inline-block;
			margin-left: 5px;
		}
	}
}
