.g-entry-content {
	font-size: 14px;
	line-height: (24 / 14);

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {

		+ p {
			margin-top: 0;
		}
	}

	h2 {
		font-size: 18px;
		font-weight: 700;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: (31 / 18);
		color: $color-main;
		position: relative;
		padding-left: 10px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 4px;
			height: 32px;
			background: $color-main;
			border-radius: 10px;
		}

		@include mq('md') {
			font-size: 24px;
		}
	}

	h3 {
		font-size: 16px;
		color: $color-main;
		margin-top: 1.8em;
		margin-bottom: 1em;
		font-weight: 700;
		line-height: (27 / 16);
		padding-bottom: 4px;
		border-bottom: 1px solid $color-main;

		@include mq('md') {
			font-size: 20px;
		}
	}

	h4 {
		font-size: 14px;
		line-height: (24 / 14);
		font-weight: 700;
		margin-top: 1.6em;
		margin-bottom: 1em;
		color: $color-main;

		@include mq('md') {
			font-size: 16px;
		}
	}

	h5 {
		font-size: 16px;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.6;
		font-weight: 700;
	}

	h6 {
		font-size: 16px;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.6;
	}

	p {
		font-size: 14px;
		line-height: (24 / 14);
		margin-top: 1.2em;
		margin-bottom: 0.8em;
	}

	ul {
		list-style-type: disc;
		padding-left: 20px;
		margin-bottom: 1em;

		ul,
		ol {
			margin-bottom: 0;
		}
	}

	ol {
		list-style-type: decimal;
		padding-left: 20px;
		margin-bottom: 1em;

		ul,
		ol {
			margin-bottom: 0;
		}
	}

	li {
		margin-top: 0.4em;
		margin-bottom: 0.4em;
		line-height: 1.6;
	}

	blockquote {
		background-color: #f8f8f8;
		padding: 36px 20px;
		margin-top: 1em;
		margin-bottom: 1em;
		line-height: (24 / 14);
		position: relative;
		background-image: url(../img/icon-blockquote1@2x.png), url(../img/icon-blockquote2@2x.png);
		background-size: 20px 16px, 20px 16px;
		background-repeat: no-repeat;
		background-position: left 10px top 10px, right 10px bottom 10px;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}

		cite {
			display: block;
			text-align: right;
			margin-top: 8px;
			font-size: 10px;
			font-style: normal;
		}

		a {
			color: #0066CC;

			&[target=_blank] {

				&::after {
					content: "";
					background: transparent url(../img/icon-target-blue@2x.png) no-repeat center center / contain;
					width: 10px;
					height: 10px;
					display: inline-block;
					vertical-align: middle;
					margin-left: 3px;
				}
			}
		}
	}

	q {
		background: #eee;
		display: inline-block;
		vertical-align: middle;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}

	strong,
	em,
	b {
		font-weight: 700;
		font-style: normal;
	}

	a {
		text-decoration: underline;
		transition: opacity 0.3s ease 0s;

		&:hover {
			color: #004cb2;
		}
	}

	img {
		vertical-align: middle;
		max-width: 100%;
		height: auto;
	}

	dl {
		margin-top: 1em;
	}

	dt {
		font-weight: 700;
		margin-top: 0.8em;
		margin-bottom: 4px;
	}

	dd {
	}

	var,
	code,
	kbd {
		background: #fee;
		color: $color-main;
		display: inline-block;
		padding-left: 0.2em;
		padding-right: 0.2em;
		vertical-align: baseline;
		font-style: normal;
	}

	pre {
		white-space: pre;
		overflow: auto;
		margin-top: 1.2em;
		padding: 1em;

		code {
			background: #2d2d2d;
			color: #fff;
			padding: 12px;
			position: relative;
			margin: -1em;
		}
	}

	cite {
	}

	iframe,
	video,
	object {
		max-width: 100%;
	}

	table {
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 10px;
		width: 100%;
		table-layout: fixed;

		th,
		td {
			padding: 6px 12px;
			border: 1px solid #ddd;
		}

		th {
			background: $color-main;
			color: #fff;
			text-align: center;
			font-weight: 700;
		}
	}
}
