.g-fixed-line {
	position: fixed;
	z-index: map-get($layer, "floating");
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #fff;
	border-top: 2px solid $color-accent;
	display: flex;
	padding: 6px 12px;

	@include mq('md') {
		padding: 20px 10px 8px;
		border: 2px solid $color-accent;
		left: auto;
		right: -2px;
		width: 190px;
		height: auto;
		display: block;
		border-radius: 8px 0 0 0;
	}
}

.g-fixed-line__text {
	font-weight: 700;
	line-height: (20 / 17);
	padding-top: 10px;
	white-space: nowrap;
	font-feature-settings: "palt";

	@include mq('md') {
		text-align: center;
	}

	.is-strong {
		color: $color-accent;
		font-size: 17px;
	}

	.is-plane {
		font-size: 14px;
	}
}

.g-fixed-line__button {
	margin-left: auto;
	width: 170px;

	@include mq('md') {
		margin-top: 6px;
		margin-left: 0;
		text-align: center;
	}

	a {
	}

	img {
	}
}

.g-fixed-line__lead {
	position: absolute;
	left: 10px;
	top: -12px;
	height: 25px;
	border: 2px solid $color-accent;
	background: #fff;
	font-size: 11px;
	font-weight: 700;
	padding: 0 10px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-accent;

	&::after {
		content: "";
		width: 9px;
		height: 11px;
		display: inline-block;
		background: transparent url(../img/icon-light@2x.png) no-repeat center center / contain;
		margin-left: 1px;
	}
}
