.g-footer {
  background: #333;
	color: #fff;
	padding: 32px 20px 20px;

	@include mq('md') {
		padding-top: 60px;
		padding-bottom: 20px;
	}
}

.g-footer__inner {
	@include mq('md') {
		width: 620px;
	}
}

.g-footer__about {

}

.g-footer__nav-items {
	display: flex;
	margin-top: 60px;

	@include mq('md') {
		justify-content: center;
	}
}

.g-footer__nav-item {
	width: 50%;

	@include mq('md') {
		width: calc(50% - 40px * 1 / 2);

		&:nth-child(n + 2) {
			margin-left: 40px;
		}
	}
}

.g-footer__sns {
	margin-top: 60px;

	@include mq('md') {
		margin-top: 60px;
	}
}

.g-footer__copyright {
	margin-top: 32px;

	@include mq('md') {
	}
}
