.g-footer-nav {
	text-align: left;
}

.g-footer-nav__head {
	font-weight: 700;
	font-size: 16px;
}

.g-footer-nav__lists {
	margin: 12px 0 0;
	padding: 0 0 0 4px;
	list-style: none;

	@include mq('md') {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		@include mq('md') {
			width: 50%;
		}

		&:nth-child(n + 2) {
			margin-top: 4px;

			@include mq('md') {
				margin-top: 0;
			}
		}

		&:nth-child(n + 3) {
			@include mq('md') {
				margin-top: 12px;
			}
		}

		a {
			text-decoration: none;
			color: #fff;
			font-size: 12px;
			transition: all 0.3s ease 0s;

			&::before {
				content: "-";
				margin-right: 0.5em;
			}
		}
	}
}
