.g-form-control {

}

.g-form-control__label {
	font-weight: 700;
	font-size: 14px;
	display: block;
}

.g-form-control__input {
	margin-top: 4px;
	width: 100%;

	@include mq('md') {
		margin-top: 8px;

		&.is-radio {
			margin-top: 0;
		}
	}
}
