.g-news {
	padding: 10px 0 0;

	@include mq('md') {
		padding-top: 20px;
	}
}

.g-news__tab {
	border-bottom: 1px solid #ddd;

	@include mq('md') {
		padding: 0;
		position: relative;
	}
}

.g-news__prev,
.g-news__next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 6px;
	height: 18px;
	background: transparent url(../img/icon-tab-prev@2x.png) no-repeat center center / contain;
	transition: all 0.3s ease 0s;
	display: none;
	cursor: pointer;

	@include mq('md') {
		display: block;
	}
}

.g-news__prev {
	left: 0;
	background-image: url(../img/icon-tab-prev@2x.png);

	&:hover {
		background-image: url(../img/icon-tab-prev-active@2x.png);
	}
}

.g-news__next {
	right: 0;
	background-image: url(../img/icon-tab-next@2x.png);

	&:hover {
		background-image: url(../img/icon-tab-next-active@2x.png);
	}
}

.g-news__lists {
}
