.g-news-link {
  display: block;
  text-decoration: none;
  position: relative;
  padding: 12px 50px 12px 20px;
  color: inherit;
	transition: all 0.3s ease 0s;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    width: 8px;
    height: 14px;
    background: transparent url(../img/icon-arrow@2x.png) no-repeat center center / contain;
    right: 16px;
		transition: all 0.3s ease 0s;
  }

	&:hover {
		color: $color-accent;
	}

	@include mq('md') {
		display: flex;
		align-items: center;
		padding: 16px 50px 16px 8px;
	}
}

.g-news-link__published {
	display: block;
	color: #aaa;
	font-weight: 700;
	font-size: 10px;

	@include mq('md') {
		width: 82px;
	}
}

.g-news-link__title {
	font-weight: 700;
	font-size: 14px;
	margin-top: 3px;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;

	@include mq('md') {
		-webkit-line-clamp: 1;
		width: calc(100% - 82px);
		margin-top: 0;
	}
}
