.g-pickup-entry {
	padding: 20px;

	@include mq('md') {
		padding-top: 32px;
		padding-bottom: 40px;
	}
}

.g-pickup-entry__image {
	text-align: center;

	img {
		max-width: 100%;
		height: auto;
	}
}

.g-pickup-entry__title {
	font-weight: 700;
	font-size: 20px;
	line-height: (28 / 20);
	margin-top: 16px;

	@include mq('md') {
		font-size: 32px;
		line-height: (48 / 32);
		margin-top: 28px;
	}
}

.g-pickup-entry__content {
	margin-top: 32px;
}
