.g-ranking-link {
  display: block;
  text-decoration: none;
  position: relative;
  padding: 12px 50px 12px 68px;
  color: inherit;
	transition: all 0.3s ease 0s;

  &:before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: 20px;
    width: 35px;
    height: 28px;
    background: transparent url(../img/icon-crown1@2x.png) no-repeat center center / contain;
  }

  &::after {
    width: 8px;
    height: 14px;
    background: transparent url(../img/icon-arrow@2x.png) no-repeat center center / contain;
    right: 16px;
		transition: all 0.3s ease 0s;
  }

	&:hover {
		color: $color-accent;
	}

  &.is-first {
    &::before {
      background-image: url(../img/icon-crown1@2x.png);
    }
  }

  &.is-second {
    &::before {
      background-image: url(../img/icon-crown2@2x.png);
    }
  }

  &.is-third {
    &::before {
      background-image: url(../img/icon-crown3@2x.png);
    }
  }

  &.is-fourth {
    &::before {
      background-image: url(../img/icon-crown4@2x.png);
    }
  }

  &.is-fifth {
    &::before {
      background-image: url(../img/icon-crown5@2x.png);
    }
  }

	&.is-sixth {
    &::before {
      background-image: url(../img/icon-crown6@2x.png);
    }
  }

	&.is-seventh {
    &::before {
      background-image: url(../img/icon-crown7@2x.png);
    }
  }

	&.is-eighth {
    &::before {
      background-image: url(../img/icon-crown8@2x.png);
    }
  }

	&.is-ninth {
    &::before {
      background-image: url(../img/icon-crown9@2x.png);
    }
  }

	&.is-tenth {
    &::before {
      background-image: url(../img/icon-crown10@2x.png);
    }
  }
}

.g-ranking-link__title {
	font-weight: 700;
	font-size: 14px;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.g-ranking-link__content {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.g-ranking-link__data {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 0;
  margin: 8px 16px 0 0;

  dt {
    color: $color-main;
    padding: 0;
    margin: 0;
  }

  dd {
    padding: 0;
    margin: 0;
		color: $color-text;
  }
}
