.g-relation-link {
  display: block;
  text-decoration: none;
  position: relative;
  padding: 18px 50px 18px 20px;
  color: inherit;
	transition: all 0.3s ease 0s;

	&::after {
		content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 14px;
    background: transparent url(../img/icon-arrow@2x.png) no-repeat center center / contain;
    right: 16px;
		transition: all 0.3s ease 0s;
  }

	&:hover {
		color: $color-accent;
	}
}

.g-relation-link__title {
	font-weight: 700;
	font-size: 14px;
}

.g-relation-link__content {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.g-relation-link__data {
  display: flex;
  align-items: center;
  font-size: 10px;
  padding: 0;
  margin: 8px 16px 0 0;

  dt {
    color: $color-main;
    padding: 0;
    margin: 0;
  }

  dd {
    padding: 0;
    margin: 0;
		color: $color-text;
  }
}
