.g-scholarship-entry {
	padding: 0 20px;

	@include mq('md') {
		padding-right: 0;
		padding-left: 0;
	}
}

.g-scholarship-entry__title {
	margin: 12px 0 0;
	padding: 0;
	line-height: 1.4;
	font-size: 18px;

	 a {
		 font-size: 18px;
		 font-weight: 700;
		 color: $color-accent;
		 transition: all 0.3s ease 0s;

		 &::after {
			 content: "";
			 display: inline-block;
			 width: 14px;
			 height: 14px;
			 background: transparent url(../img/icon-target@2x.png) no-repeat center center / contain;
			 margin-left: 6px;
		 }

		 &:hover {
			color: #00485b;
		 }
	 }
}

.g-scholarship-entry__url {
	color: #888;
	font-size: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 5px 0 0;
	padding: 0;

	dt,
	dd {
		margin: 0;
		padding: 0;
		font-weight: 400;
	}

	dt {

	}

	dd {
		word-break: break-all;
		line-height: (14 / 10);
	}
}

.g-scholarship-entry__meta {
	display: none;

	@include mq('md') {
		margin-top: 10px;
		display: flex;
		align-items: center;
	}

	> :nth-child(n + 2) {
		margin-left: 12px;
	}
}

.g-scholarship-entry__content {
	margin-top: 20px;
}
