.g-scholarship-detail {

}

.g-scholarship-detail__head {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-weight: 700;
	font-size: 14px;
	margin: 0;

	dt,
	dd {
		margin: 0;
		padding: 0;
	}

	dt {
		color: $color-main;
	}

	dd {
	}
}

.g-scholarship-detail__text {
	color: #888;
	line-height: (16 / 10);
	font-size: 10px;
	margin-top: 4px;

	span {
		display: block;
	}
}
