.g-scholarship-table {

}

.g-scholarship-table__dl {
	display: flex;
	margin: 0;
	padding: 0;

	> dt,
	> dd {
		margin: 0;
		padding: 10px 0;
		font-weight: 700;
		font-size: 12px;
	}

	> dt {
		padding-left: 10px;
		padding-right: 10px;
		background: #f8f8f8;
		border-top: 1px solid $color-main;
		width: 100px;
		line-height: (18 / 12);
	}

	> dd {
		padding-left: 20px;
		padding-right: 20px;
		border-top: 1px solid #ddd;
		width: calc(100% - 100px);
	}

	&:last-child {
		> dt {
			border-bottom: 1px solid $color-main;
		}

		> dd {
			border-bottom: 1px solid #ddd;
		}
	}
}

.g-scholarship-table__detail {
	font-size: 10px;
	font-weight: 500;
	margin: 6px 0 0;
	line-height: (14 / 10);
	color: #888;

	&:nth-of-type(n + 2) {
		margin-top: 6px;
	}
}
