.g-search-terms-modal {
	background: #fff;
	position: relative;
}

.g-search-terms-modal__form {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 0;
	border: none;
}

.g-search-terms-modal__close {
	position: absolute;
	right: 12px;
	top: 8px;
}
