.g-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.g-pagination__item {
	background: #F2F2F2;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color-accent;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.3s ease 0s;

	&:nth-child(n + 2) {
		margin-left: 8px;
	}

	&.is-current,
	&:hover {
		background: $color-accent;
		color: #fff;
	}

	&.is-prev,
	&.is-next {
		background: none;
	}
}
