.g-search-item-detail {

}

.g-search-item-detail__row {
	&:nth-child(n + 2) {
		margin-top: 10px;
	}

	&.is-two-item {
		display: flex;
		align-items: center;

		> * {
			margin-right: 16px;
		}
	}
}
