.g-search-terms {
	border: 1px solid $color-accent;
	border-radius: 2px;
	padding: 10px 12px;
	display: flex;
	align-items: center;

	&:hover {
		a {
			color: $color-accent;
		}
	}
}

.g-search-terms__data {
	font-size: 10px;
	width: calc(100% - 64px);
	line-height: (16 / 10);
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;

	@include mq('md') {
		font-size: 12px;
		-webkit-line-clamp: 3;
	}
}

.g-search-terms__link {
	width: 52px;
	margin-left: auto;

	a {
		text-decoration: none;
		color: $color-accent;
		transition: all 0.3s ease 0s;
		line-height: 1.2;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding-right: 12px;
		font-weight: 700;
		font-size: 10px;
		white-space: nowrap;
		text-align: center;

		&[role="button"] {
			color: $color-accent;
		}

		&::after {
			content: "";
			width: 6px;
			height: 10px;
			background: transparent url(../img/icon-search-arrow@2x.png) no-repeat center center / contain;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}

		&:hover {
			color: #00485b;
		}
	}
}

.g-search-terms__modal {
	background: #fff;
}
