.g-search-item {
  display: block;
  text-decoration: none;
  color: inherit;
	padding: 0 16px;
	position: relative;
	border-bottom: 1px solid #ddd;

	@include mq('md') {
		padding-left: 20px;
		padding-right: 20px;
	}

	&:hover {
		color: $color-accent;
	}
}

.g-search-item__main {
	padding: 12px 52px 32px 0;
	position: relative;
}

.g-search-item__fav {
	position: absolute;
	right: 0;
	top: 12px;
	width: 46px;

	img {
	}
}

.g-search-item__title {
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
}

.g-search-item__content {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.g-search-item__data {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0;
  margin: 8px 16px 0 0;
	font-weight: 700;

  dt {
    color: $color-main;
    padding: 0;
    margin: 0;
  }

  dd {
    padding: 0;
    margin: 0;
		color: $color-text;
  }
}

.g-search-item__accordion-main,
.g-search-item__accordion-detail {
	background: #f2f2f2 url(../img/icon-accordion-down@2x.png) no-repeat center center / 10px 6px;
	text-align: center;
	height: 20px;
	width: calc(100% + 16px * 2);
	position: absolute;
	bottom: 0;
	left: -16px;

	&[aria-expanded="true"] {
		background-image: url(../img/icon-accordion-up@2x.png);
	}

	@include mq('md') {
		width: calc(100% + 20px * 2);
		left: -20px;
	}
}

.g-search-item__accordion-main {
	background: #f2f2f2 url(../img/icon-accordion-down@2x.png) no-repeat center center / 10px 6px;
	text-align: center;
	height: 20px;
	width: calc(100% + 16px * 2);
	position: absolute;
	bottom: 0;
	left: -16px;

	&[aria-expanded="true"] {
		background-image: url(../img/icon-accordion-up@2x.png);
	}
}

.g-search-item__detail {
	border-top: 1px solid #f2f2f2;
	padding-top: 12px;
	padding-bottom: 32px;
	position: relative;
}

