.g-search-form {
	padding: 20px 10px 40px;

	@include mq('md') {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
}

.g-search-form__control {
	&:nth-child(n + 2) {
		margin-top: 16px;
	}
}

.g-search-form__button {
	text-align: center;
	margin-top: 16px;
}
