.g-sns-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.g-sns-links__item {
	&:nth-child(n + 2) {
		margin-left: 32px;
	}

	a {
		text-decoration: none;
		color: #fff;
	}
}
