.g-tab {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	border: none;
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
    display: none;
	}
}

.g-tab__item {
	white-space: nowrap;

	&:nth-child(n + 2) {
		margin-left: 2px;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		line-height: (12 / 10);
		height: 34px;
		padding: 0 10px;
		background: #aaa;
		color: #fff;
		font-weight: 700;
		font-size: 10px;
		text-decoration: none;
		border-radius: 4px 4px 0 0;
		transition: all 0.3s ease 0s;
		white-space: nowrap;

		&:hover {
			background-color: $color-accent;
		}

		&.active {
			padding-left: 16px;
			padding-right: 16px;
			background-color: $color-accent;
		}
	}
}
