.g-tag-link {
	display: flex;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	color: inherit;
	padding: 4px 16px 4px 4px;
	align-items: center;
	transition: all 0.3s ease 0s;

	&::after {
		content: "";
		width: 8px;
		height: 14px;
		background: url(../img/icon-arrow@2x.png) center center / contain;
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.3s ease 0s;
	}

	&:hover {
		color: $color-accent;
	}
}

.g-tag-link__img {
	width: 52px;
	text-align: center;

	img {
	}
}

.g-tag-link__text {
	width: calc(100% - 52px);
	font-size: 12px;
	font-weight: 700;
	line-height: (18 / 12);
	padding-left: 8px;
}
