.g-tag-links {
	display: flex;
	flex-wrap: wrap;
}

.g-tag-links__item {
	width: 50%;
	border-bottom: 1px solid #ddd;

	&:nth-child(2n + 1) {
		border-right: 1px solid #ddd;

		@include mq('md') {
			border-right: none;
		}
	}

	@include mq('md') {
		width: 100%;
	}
}
