.g-terms-card {
	background: #fff;
	border-radius: 4px;
}

.g-terms-card__head {
	padding: 8px 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.g-terms-card__date {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
}

.g-terms-card__close {
	cursor: pointer;
  -webkit-appearance: none;
	background-image: none;
  background-color: transparent;
	padding: 0;
	text-decoration: none;
  border: none;
  border-radius: 0;
  margin: 0 0 0 auto;
	box-shadow: none;
}

.g-terms-card__body {
	padding: 16px 10px;
}

.g-terms-card__body-head {
	font-size: 13px;
	font-weight: 700;
}

.g-terms-card__content {
	font-size: 12px;
	line-height: (18 / 12);
	margin-top: 3px;
	word-break: break-all;
}

.g-terms-card__button {
	text-align: center;
	margin-top: 14px;
}
