<%- include( './common/_html-open' ) %>
<%- include( './common/_meta',
{
	title: 'タイトル',
	description: 'ディスクリプション',
	keyword: 'キーワード1,キーワード2',
} ) %>
<%- include( './common/_style' ) %>
<%- include( './common/_body' ) %>
<%- include ( './common/_header', { tag: 'h1' } ) %>

<div class="g-top">
	<div class="g-inner g-top__inner">
		<div class="g-top__banner"><a href="" target="_blank"><img src="/assets/img/banner1.jpg" alt="" width="335" height="67"></a></div>
		<div class="g-top__area1">
			<div class="g-top__ranking">
				<h2 class="g-heading">奨学金ランキング</h2>
				<div class="g-ranking">
					<div class="g-ranking__tab">
						<div id="js-tab-prev" class="g-ranking__prev"></div>
						<%- include( './common/ranking/_ranking-tab' ) %>
						<div id="js-tab-next" class="g-ranking__next"></div>
					</div>
					<div class="g-ranking__lists">
						<%- include( './common/ranking/_ranking-lists' ) %>
					</div>
				</div><!-- /g-ranking -->
			</div><!-- /g-top__ranking -->

			<div class="g-top__news">
				<h2 class="g-heading">新着情報</h2>
				<div class="g-news">
					<div class="g-news__tab">
						<%- include( './common/news/_news-tab' ) %>
					</div>
					<div class="g-news__lists">
						<%- include( './common/news/_news-lists' ) %>
					</div>
				</div><!-- /g-ranking -->
			</div><!-- /g-top__news -->
		</div><!-- g-top__area1 -->

		<div class="g-top__area2">
			<div class="g-top__pickup">
				<h2 class="g-heading">Pickupテーマ</h2>
				<%- include ( './common/pickup/_pickup-links' ) %>
			</div><!-- /g-top__pickup -->
		</div><!-- g-top__area2 -->

		<div class="g-top__area3">
			<div class="g-top__column">
				<h2 class="g-heading">奨学金コラム</h2>
				<%- include ( './common/column/_column-links' ) %>
			</div><!-- /g-top__column -->
		</div><!-- g-top__area3 -->

		<div class="g-top__area4">
			<div class="g-top__search">
				<h2 class="g-heading">条件から探す</h2>
				<%- include ( './common/search/_search-form' ) %>
			</div><!-- /g-top__search -->

			<div class="g-top__cotegory">
				<h2 class="g-heading">カテゴリー</h2>
				<%- include ( './common/category/_lists' ) %>
			</div><!-- /g-top__cotegory -->
		</div><!-- g-top__area4 -->

	</div><!-- /g-inner -->
</div><!-- /g-top -->

<div class="g-share-fixed-button">
	<div class="g-share-fixed-button__item"><a href="" class="g-button-share-sp" role="button"></a></div>
</div><!-- /g-share-fixed-button -->
<%- include ( './common/_footer' ) %>
<%- include ( './common/_script' ) %>
<%- include ( './common/_html-close' ) %>
