<div id="js-drawer-content" class="g-drawer">
	<nav class="g-drawer__nav">
		<div class="g-drawer__link"><a class="g-icon-link" href="/"><img src="/assets/img/icon-drawer-ranking@2x.png" alt="" width="40" height="40" loading="lazy"><span>ランキング</span></a></div>
		<div class="g-drawer__link"><a class="g-icon-link" href="/search/"><img src="/assets/img/icon-drawer-search@2x.png" alt="" width="40" height="40" loading="lazy"><span>奨学金検索</span></a></div>
		<div class="g-drawer__link"><a class="g-icon-link" href="/column/"><img src="/assets/img/icon-drawer-column@2x.png" alt="" width="40" height="40" loading="lazy"><span>コラム</span></a></div>
		<div class="g-drawer__link"><a class="g-icon-link" href="/terms/"><img src="/assets/img/icon-drawer-paper@2x.png" alt="" width="40" height="40" loading="lazy"><span>保存した検索条件</span></a></div>
	</nav><!-- /g-drawer__nav -->
	<div class="g-drawer__sns g-sns-links">
		<div class="g-sns-links__item"><a href="" target="_blank"><img src="/assets/img/icon-twitter-white@2x.png" alt="" width="30" height="24" loading="lazy"></a></div>
		<div class="g-sns-links__item"><a href="" target="_blank"><img src="/assets/img/icon-line-green@2x.png" alt="" width="30" height="28" loading="lazy"></a></div>
	</div><!-- /g-sns-links -->
</div><!-- /g-drawer -->
<div id="js-drawer-bg" class="g-drawer-bg"></div>
