<div class="g-fixed-line">
	<div class="g-fixed-line__text">
		<span class="is-strong">「ガクシー限定奨学金」</span><br>
		<span class="is-plane">に応募できる！</span>
	</div>
	<div class="g-fixed-line__button"><a href="" target="_blank"><img src="/assets/img/button-member@2x.png" alt="今すぐチェック！!無料会員登録はこちら" width="170" height="44" loading="lazy"></a></div>
	<div class="g-fixed-line__lead">会員登録すると</div>
</div><!-- /g-fixed-line -->
