<footer class="g-footer">
	<div class="g-footer__inner g-inner">
		<div class="g-about-card g-footer__about">
			<div class="g-about-card__head">ガクシーとは？</div>
			<p class="g-about-card__text">ガクシーは国内最大の奨学金検索サイトです。13,000件以上の奨学金情報を掲載しています。様々な条件で検索できるので、あなたの目的にあった奨学金が見つかります。</p>
		</div><!-- /g-about-card -->
		<div class="g-footer__nav-items">
			<nav class="g-footer-nav g-footer__nav-item">
				<div class="g-footer-nav__head">メニュー</div>
				<ul class="g-footer-nav__lists">
					<li><a href="/">ランキング</a></li>
					<li><a href="/search/">奨学金検索</a></li>
					<li><a href="/column/">コラム</a></li>
					<li><a href="" target="_blank">運営団体様はこちら</a></li>
					<li><a href="">お気に入り</a></li>
				</ul>
			</nav><!-- /g-footer-nav -->
			<nav class="g-footer-nav g-footer__nav-item">
				<div class="g-footer-nav__head">ガクシーについて</div>
				<ul class="g-footer-nav__lists">
					<li><a href="https://www.schol.co.jp/" target="_blank">運営会社</a></li>
					<li><a href="https://www.schol.co.jp/security/" target="_blank">利用規約</a></li>
					<li><a href="https://www.schol.co.jp/privacy/" target="_blank">プライバシーポリシー</a></li>
					<li><a href="https://www.schol.co.jp/contact/" target="_blank">お問い合わせ</a></li>
				</ul>
			</nav><!-- /g-footer-nav -->
		</div><!-- /g-footer__nav -->
		<div class="g-sns-links g-footer__sns">
			<div class="g-sns-links__item"><a href="" target="_blank"><img src="/assets/img/icon-twitter-white@2x.png" alt="" width="30" height="24" loading="lazy"></a></div>
			<div class="g-sns-links__item"><a href="" target="_blank"><img src="/assets/img/icon-line-white@2x.png" alt="" width="30" height="28" loading="lazy"></a></div>
		</div><!-- /g-sns-links -->
		<div class="g-copyright g-footer__copyright">&copy;2019-2020 SCHOL inc.</div>
	</div><!-- /g-inner -->
</footer><!-- /g-footer -->

<%- include ( './_fixed' ) %>
