<header class="g-header">
	<div class="g-header__inner g-inner">
		<<%= tag %> class="g-header__logo"><a href="/"><img src="/assets/img/logo@2x.png" alt="ガクシー" width="120" height="33"></a></<%= tag %>>
		<nav class="g-header__nav">
			<div class="g-header__link"><a href="/">ランキング</a></div>
			<div class="g-header__link"><a href="/search/">奨学金検索</a></div>
			<div class="g-header__link"><a href="/column/">コラム</a></div>
		</nav>
		<div class="g-header__b">
			<a href="" class="g-header-button" target="_blank">運営団体様はこちら</a>
		</div>
		<div class="g-header__terms">
			<a href="/terms/" class="g-terms">
				<img src="/assets/img/icon-paper@2x.png" alt="" width="23" height="23">
				<span>保存した検索条件</span>
			</a><!-- /g-terms -->
		</div>
		<div class="g-header__favorite">
			<a href="" class="g-favorite">
				<img src="/assets/img/icon-star@2x.png" alt="" width="23" height="23">
				<span>お気に入り</span>
			</a><!-- /g-favorite -->
		</div>
		<button id="js-drawer-open" class="g-header__drawer-button g-drawer-button" type="button">
			<div class="g-drawer-button__bars">
				<div class="g-drawer-button__bar1"></div>
				<div class="g-drawer-button__bar2"></div>
				<div class="g-drawer-button__bar3"></div>
			</div>
		</button><!-- /g-drawer-button -->
	</div><!-- /g-inner -->
</header><!-- /g-header -->

<%- include ( './_drawer' ) %>
