<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title><%= title %></title>
<meta name="description" content="<%= description %>">

<!-- OGP -->
<meta property="og:type" content="website">
<meta property="og:title" content="記事タイトル">
<meta property="og:image" content="https://example.com/assets/img/common/ogp.png">
<meta property="og:url" content="https://example.com/">
<meta property="og:description" content="ディスクリプション">
<meta property="og:site_name" content="サイトタイトル">

<!-- ファビコン -->
<link rel="shortcut icon" href="https://example.com/assets/img/common/favicon.ico">
